- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'messaging' }
- content_for :tab_content do
  .nicely-padded
    - if @errors.present?
      .error
        = @errors
    #contact
      %h1 Send message to hub members
      = semantic_form_for(:message, url: hub_messages_path(@hub)) do |f|
        = f.inputs do
          = f.input :to
          %label
            Email to all hub members
            = f.check_box :sent_to_all, id: 'all'
          = f.input :subject, required: true
          = f.input :body, as: :text, input_html: { rows: 8, class: 'noEditor' }
        = f.actions do
          = f.action :submit, as: :button, label: 'Submit', button_html: { class: 'btn btn-primary' }

      :javascript
        $(function() {
          $('#all').on('click', function(){
            var disabled_attr = $('#message_to').attr('disabled');
            $('#message_to').prop('disabled', !disabled_attr);
          });

          $('.formtastic.message').ajaxForm({
            success: function(html){
              $('.formtastic.message').html("<p>Your message has been sent.</p>");
            }
          });
        });
