<div class="center-block devise-form">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div><%= f.submit "Resend confirmation instructions", class: 'btn btn-warning btn-block' %></div>
<% end %>

  <hr />
<%= render "links" %>
</div>
