.center-block.devise-form
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :username
      = f.text_field :username, autofocus: true, class: "form-control"
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, class: "form-control"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: "form-control"
      %span.help-block Leave blank if you don't want to change it
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    %hr/
    .form-group
      = f.label :current_password
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      %span.help-block We need your current password to confirm your changes
    .actions
      = f.submit "Update", class: "btn btn-primary btn-block"
  %hr/
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn"}
  = link_to "Back", :back
