.center-block.devise-form
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :username
      = f.text_field :username, autofocus: true, class: "form-control"
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, class: "form-control"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", class: "form-control"
      %span.help-block Leave blank if you don't want to change it
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    %hr/
    .form-group
      = f.label :current_password
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      %span.help-block We need your current password to confirm your changes
    .actions
      = f.submit "Update", class: "btn btn-primary btn-block"
  %hr/
  %h3 Remove my account
  %p.alert.alert-danger
    Deleting your account will also delete all the hubs of which you are the sole owner. 
    If you want any of those hubs to continue, then create at least one co-owner of each before you delete your account. 
    You can do this through the Team tab of your hubs.
    %br
    %br
    You can also export all your data before removing it using the #{ link_to('Export section', export_import_path) }</a>.

    #{button_to "Remove my account", users_selfremove_path, data: { confirm: "Are you sure?" }, method: :post, class: "btn"}

  = link_to "Back", :back
