<div class="center-block devise-form">
<h2>Sign up</h2>
<p><strong>Note:</strong> You will need to confirm your TagTeam account via a link sent to the email address you enter below.</p>
<p class="text-danger"><strong>Please check your email after you create an account.</strong></p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: 'btn btn-success btn-block' %>
  </div>
<% end %>

<hr />
<%= render "links" %>
</div>
