<li class="<%= 'active' if active == 'items' %>">
  <%= documentation('republished-feed-items-tab') %>
  <%= link_to('Items', remix_items_path(@republished_feed.url_key)) %>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'about' %>">
  <%= documentation('republished-feed-about-tab') %>
  <%= link_to('About', remix_path(@republished_feed.url_key))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'inputs' %>">
  <%= documentation('republished-feed-inputs-tab') %>
  <%= link_to('Inputs', inputs_hub_republished_feed_path(@hub, @republished_feed))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'removals' %>">
  <%= documentation('republished-feed-removals-tab') %>
  <%= link_to('Removals', removals_hub_republished_feed_path(@hub, @republished_feed))%>
  <div class="nav-pill-arrow"></div>
</li>
