<%= documentation('hub-republished-feeds-list') %>
<div class="republished_feeds">
  <% if current_user && current_user.is?([:owner, :remixer], @hub) %>
    <%= link_to(raw('<span class="ui-silk inline ui-silk-feed-add"></span> New Remixed Feed'), new_hub_republished_feed_path(@hub), :class=> "new_object") %>
  <% end %>
  <h3>Remixed Feeds</h3>
  <div id="republished_feed_list_<%= @hub.id %>">
    <%= will_paginate @republished_feeds %>
    <table class="republished_feeds">
      <%= render :partial => 'shared/line_items/republished_feed', :collection => @republished_feeds %>
    </table>
    <%= will_paginate @republished_feeds %>
  </div>
</div>
