<% content_for :top_panel do %>
  <%= render partial: 'hubs/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'remixes' } %>
<% end %>

<% content_for :tab_content do %>
<div class="republished_feeds nicely-padded">
  <h1>
  <% if current_user && current_user.is?([:owner, :remixer], @hub) %>
      <div class="pull-right">
    <%= link_to new_hub_republished_feed_path(@hub), class: "new_object btn btn-success" do %>
      <%= fa_icon 'plus-circle', text: 'New remixed feed' %>
    <% end %>
    </div>
  <% end %>
    Remixed feeds
  </h1>
  <% if @republished_feeds.empty? %>
    <p>This hub currently has no republished feeds.</p>
  <% end %>


  <div id="republished_feed_list_<%= @hub.id %>">

    <div class="text-right">
      <%= render partial: 'shared/paginate', object: @republished_feeds, as: :results %>
    </div>
    <ul class="republished_feeds list-unstyled nicely-padded">
      <%= render partial: 'republished_feeds/list_item',
        collection: @republished_feeds,
        as: :republished_feed %>
    </ul>
    <div class="text-center">
      <%= render partial: 'shared/paginate', object: @republished_feeds, as: :results %>
    </div>

  </div>
</div>
<% end %>
