<%= documentation('republished-feed-items-tab') %>
<div id="items">
  <h2>Items:</h2>
  <% unless @search.blank? %>
    <%= will_paginate @search.results %>
    <table class="republished_feed feed_items" id="republished_feed_metadata_<%= @republished_feed.id %>">
      <%= render :partial => 'shared/line_items/feed_item', :collection => @search.results %>
    </table>
    <%= will_paginate @search.results %>
  <% else %>
    <p>None yet. Please add some input sources from the "inputs" tab or from the <%= link_to('hub', hub_path(@hub)) %> proper.</p>
  <% end %>
</div>
