- content_for :top_panel do
  = render partial: 'top_panel'
- content_for :tabs do
  = render partial: 'tabs', locals: { active: 'items' }
- content_for :tab_content do
  - if @search.blank? || @search.total == 0
    %p
      None yet. Please add items or tags from #{link_to "the hub", items_hub_path(@hub)}.
  - else
    = render partial: 'feed_items/alter_view', locals: { view: 'grid', results: @search.results }
    = render partial: 'feed_items/grid', object: @search.results, as: :feed_items
