Hello,
\
#{@changed_by.username} has made a tagging change affecting #{@feed_item_count} items in the "#{@hub_feed.feed.title}" feed within #{@hub.title} including at least one you've previously tagged.
\
You can view the feed at this URL: #{hub_hub_feed_url(@hub, @hub_feed)}

- if @changes.present?
  \
  Here are the recent updates to the items:
  \
  \  * #{@changes}
