Hello,
\
#{@updated_by_display} updated the tag record for #{@modified_items.size > 1 ? 'items' : 'an item'} you've previously tagged. You can find the current version of the record at the following URL(s):
\
- if @modified_items.size > 1
  - @modified_items.each do |modified_item|
    = hub_feed_feed_item_url(@hub.hub_feed_for_feed_item(modified_item), modified_item)
- else
  = hub_feed_feed_item_url(@hub.hub_feed_for_feed_item(@modified_items.first), @modified_items.first)

- if @changes.present?
  \
  Here are the recent updates to the record:
  \
  \  * #{@changes}
