- content_for :top_panel do
  = render partial: 'hub_feeds/top_panel', locals: { hub: @hub, hub_feed: @hub_feed }
- content_for :tabs do
  - if @user
    = render partial: 'users/hub_items_tabs', locals: { active: 'filters' }
  - else
    = render partial: 'hub_feeds/tabs', locals: { active: 'filters' }
- content_for :tab_content do
  .nicely-padded
    - if current_user && current_user.is?([:owner, :hub_feed_tag_filterer], @hub)
      %h1 Add feed-wide filters
      - tag_list = @tag_filters.map {|f| f.tag.name}.join(', ')
      %ul.tag_filter_controls.list-unstyled
        %li
          = link_to hub_feed_tag_filters_path(@hub_feed, @feed_item),
            data_hub_id: @hub.id,
            data_type: 'AddTagFilter',
            tag_list: tag_list,
            class: 'add_filter_control hub_feed_tag_filter btn btn-success' do
            = fa_icon 'plus-circle', text: 'Add a tag to all items in this feed'
        %li
          = link_to hub_feed_tag_filters_path(@hub_feed),
            data_hub_id: @hub.id,
            data_type: 'DeleteTagFilter',
            tag_list: tag_list,
            class: 'add_filter_control hub_feed_tag_filter btn btn-danger' do
            = fa_icon 'minus-circle', text: 'Remove a tag from all items in this feed'
        %li
          = link_to hub_feed_tag_filters_path(@hub_feed),
            data_hub_id: @hub.id,
            data_type: 'ModifyTagFilter',
            tag_list: tag_list,
            class: 'add_filter_control hub_feed_tag_filter btn btn-default' do
            = fa_icon 'pencil', text: 'Modify a tag on all items in this feed'
        %li
          = link_to hub_feed_tag_filters_path(@hub_feed),
            data_hub_id: @hub.id,
            data_type: 'SupplementTagFilter',
            tag_list: tag_list,
            class: 'add_filter_control hub_feed_tag_filter btn btn-primary' do
            = fa_icon 'plus-circle', text: 'Supplement a tag with a second tag on all items in this feed'
    %h1 Active filters
    - if @tag_filters.empty?
      %h2 No active filters
    - else
      %ul.hub_feed_tag_filters.list-unstyled.nicely-padded
        = render partial: 'hub_feed_tag_filters/list_item',
          collection: @tag_filters,
          as: :hub_feed_tag_filter
