<% content_for :top_panel do %>
  <%= render partial: 'hub_feeds/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hub_feeds/tabs', locals: { active: 'filters' } %>
<% end %>

<% content_for :tab_content do %>
  <div class="nicely-padded">
<% if current_user && current_user.is?([:owner, :hub_feed_tag_filterer], @hub) %>
  <h1>Add feed-wide filters</h1>
  <% tag_list = @tag_filters.map {|f| f.tag.name}.join(', ') %>
      <ul class="tag_filter_controls list-unstyled">
        <li>
        <%= link_to hub_feed_tag_filters_path(@hub_feed, @feed_item),
          data_hub_id: @hub.id,
          data_type: 'AddTagFilter',
          tag_list: tag_list,
          class: 'add_filter_control hub_feed_tag_filter btn btn-success' do %>
          <%= fa_icon 'plus-circle', text: 'Add a tag to all items in this feed' %>
        <% end %>
        </li> 

        <li>
        <%= link_to hub_feed_tag_filters_path(@hub_feed),
          data_hub_id: @hub.id,
          data_type: 'DeleteTagFilter',
          tag_list: tag_list,
          class: 'add_filter_control hub_feed_tag_filter btn btn-danger' do %>
          <%= fa_icon 'minus-circle', text: 'Remove a tag from all items in this feed' %>
        <% end %>
        </li> 

        <li>
        <%= link_to hub_feed_tag_filters_path(@hub_feed),
          data_hub_id: @hub.id,
          data_type: 'ModifyTagFilter',
          tag_list: tag_list,
          class: 'add_filter_control hub_feed_tag_filter btn btn-default' do %>
        <%= fa_icon 'pencil', text: 'Modify a tag on all items in this feed' %>
        <% end %>
        </li> 
      </ul>
<% end %>
<h1>Active filters</h1>
<% if @tag_filters.empty? %>
  <h2>No active filters</h2>
<% else %>
<ul class="hub_feed_tag_filters list-unstyled nicely-padded">
  <%= render partial: 'hub_feed_tag_filters/list_item',
    collection: @tag_filters,
    as: :hub_feed_tag_filter
  %>
</ul>
<% end %>
</div>
<% end %>
