<%= documentation('hub-feed-filter-tab') %>
<h3>Feed-wide filters</h3>
<% if @is_owner %>

  <ul class="tag_filter_controls">
    <li><span class="ui-silk ui-silk-tag-blue-add inline"></span> <%= link_to 'Add a tag to all items in this feed', hub_feed_hub_feed_tag_filters_path(@hub_feed), :data_hub_id => @hub.id, :data_type => 'AddTagFilter', :class => 'add_filter_control hub_feed_item_tag_filter' %></li> 
    <li><span class="ui-silk ui-silk-tag-blue-delete inline"></span> <%= link_to 'Remove a tag from all items in this feed', hub_feed_hub_feed_tag_filters_path(@hub_feed), :data_hub_id => @hub.id, :data_type => 'DeleteTagFilter', :class => 'add_filter_control hub_feed_item_tag_filter' %></li> 
    <li><span class="ui-silk ui-silk-tag-blue-edit inline"></span> <%= link_to 'Modify a tag on all items in this feed', hub_feed_hub_feed_tag_filters_path(@hub_feed), :data_hub_id => @hub.id, :data_type => 'ModifyTagFilter', :class => 'add_filter_control hub_feed_item_tag_filter' %></li> 
  </ul>
<% end %>
<div class="hub_feed_tag_filters">
  <%= render :partial => 'shared/line_items/hub_feed_tag_filter', :collection => @hub_feed_tag_filters %>
</div>
