= semantic_form_for(@feed_item, url: bookmarklets_add_item_url, method: :post) do |f|
  - submit_label = @feed_item.new_record? ? 'Add to TagTeam' : 'Update TagTeam'
  .tab-content
    .tab-pane.active#basics
      = f.actions do
        .text-center.add-item-submit.pull-right
          = f.action :submit, label: submit_label, as: :button, button_html: { class: 'btn btn-primary' }
      = f.inputs do
        .row
          .col-xs-6
            = f.input :hub_id, collection: current_user.my_bookmarkable_hubs,
              label: 'Add to hub', required: true, include_blank: false,
              class: 'form-control'
          .col-xs-6
            = f.input :bookmark_collection_id, as: :select, required: true, label: 'To collection', class: 'form-control'
        = f.input :tag_list, label: 'Tags', hint: 'A comma separated list of tags. Type at least 3 characters to load tag suggestions.'
        .feed-item-existing-tags
        .feed-item-tags-actions.form-group
        = f.input :title, required: true
        = f.input :url, label: 'URL', required: true
        = f.input :description, as: :text, hint: "Select text on the page you're bookmarking to auto-populate the description field"
        .row
          .col-xs-3
            = f.input :last_updated, as: :string, label: 'Date tagged', hint: 'yyyy-mm-dd format', input_html: { class: :datepicker }
        .row
          .col-xs-3
            = f.input :date_published, as: :string, label: 'Date published', hint: 'yyyy-mm-dd format', input_html: { class: :datepicker }
    .tab-pane#advanced
      = f.actions do
        .text-center.add-item-submit.pull-right
          = f.action :submit, label: submit_label, as: :button, button_html: { class: 'btn btn-primary' }
      = f.inputs do
        = f.input :authors
        = f.input :contributors
        = f.input :rights
        .row
          .col-xs-3
            = f.input :last_updated, as: :string, hint: 'yyyy-mm-dd format', input_html: { class: :datepicker }

:javascript
  $(document).ready(function() {
    $.initBookmarklet(#{@feed_item.id || -1});
  });
