.text-center
  %h1.title= fa_icon 'bolt', text: 'TagTeam'
.row
  .col-md-offset-3.col-md-6
    %h2.page-header
      - if @hub.new_record?
        Start a new hub
      - else
        Edit the #{@hub.title} hub
    = semantic_form_for(@hub) do |f|
      = f.inputs do
        = f.input :title
        = f.input :nickname, hint: "Customize your hub's URL with an optional nickname."
        = f.input :description, as: :text, input_html: { class: 'noEditor', rows: 4 }
      .text-center
        = f.actions do
          = f.action :submit, as: :button, label: "Let's go!",
            button_html: { class: 'btn btn-primary btn-lg' }
