<div class="text-center">
  <h1 class="title"><%= fa_icon 'bolt', text: 'TagTeam' %></h1>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
  <h2 class="page-header">Start a new hub</h2>
<%= semantic_form_for(@hub) do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :nickname, hint: "Customize your hub's URL with an optional nickname." %>
    <%= f.input :description, as: :text, input_html: { class: 'noNicEditor', rows: 4 } %>
    <%= f.input :tag_prefix, hint: 'Whatever you enter here will be prefixed to all the tags you publish from this hub.' %>
  <% end %>
  <div class="text-center">
  <%= f.actions do %>
    <%= f.action :submit, as: :button, label: "Let's go!",
      button_html: { class: 'btn btn-primary btn-lg' } %>
  <% end %>
<% end %>
  </div>
  </div>
</div>
