<div class="grid_8 alpha">
<%= semantic_form_for(@input_source) do |f| %>
  <%= f.inputs do %>
    <%= f.input :republished_feed_id, :as => :hidden %>

    <li class="string optional">
      <label for="ajax_item_source">Source</label>
      <input type="text" id="ajax_item_source" name="ajax_item_source" />
      <p class="inline-hints">Start typing to find the Feed, Item, or Tag you'd like to be the input source.</p>
    </li>
    <%= f.input :item_source_id, :as => :hidden %>
    <%= f.input :item_source_type, :as => :hidden %>
    <%= f.input :effect, :collection => InputSource::EFFECTS, :hint => '"Add" means this input source adds its items to this republished feed. "Remove" means this input source is used to remove items it matches.' %>
    <%= f.input :limit, :hint => 'How many maximum items to pull from this source?'  %>
  <% end %>
  <%= f.buttons %>
<% end %>
</div>

<div class="grid_8 omega">
  <div id="ajax_item_source_results">
  </div>
</div>
<div class="clear"></div>
<%= javascript_tag do
  %q@
  $().ready(function(){
    var observeItemSource = function(){
     $.ajax({
      type: 'GET',
      url: $.rootPath() + 'input_sources/find',
      data: {q:  $('#ajax_item_source').val()},
      success: function(html){
        $('#ajax_item_source_results').html(html);
      }
      
     });
    };
    $('#ajax_item_source').observe_field(2, observeItemSource);
  });
  @;
end %>
