.center-block.devise-form
  %h2 Resend unlock instructions
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: "form-control"
    .actions
      = f.submit "Resend unlock instructions", class: "btn btn-warning btn-block"
  %hr/
  = render "devise/shared/links"
