<% feed_retrieval = hub_feed_retrieval 
@hub_feed = hub_feed_retrieval.hub_feed_for_hub(@hub)
%>
<tr class="feed_retrieval <%= (feed_retrieval.success) ? 'success' : 'danger' %>">
  <td>
    <%= link_to(@hub_feed.display_title, hub_hub_feed_path(@hub, @hub_feed)) %>
  </td>
  <td>
    <%= link_to(l(feed_retrieval.created_at, format: :date_and_time_short),
                hub_feed_feed_retrieval_path(@hub_feed, feed_retrieval)) %>
  </td>
  <% if feed_retrieval.has_changes? %> 
    <td>
      <% unless feed_retrieval.new_feed_items.empty? %>
        <%= feed_retrieval.new_feed_items.length %> new<br/>
      <% end %>
    </td>
    <td>
      <% unless feed_retrieval.changed_feed_items.empty? %>
        <%= feed_retrieval.changed_feed_items.length %> updated<br/>
      <% end %>
    </td>
  <% else %>
    <td colspan="2" class="no_changes"></td>
  <% end %>
</tr>
