.col-sm-10
  %h1
    User "
    %em>= @user.username
    " –
    \#{@feed_items.count} #{'item'.pluralize(@feed_items.count)}
.col-sm-2
  .export_menu.row.text-center
    - if @tag
      .col-xs-4
        = link_to hub_user_tags_name_rss_path(@hub, @user.username, @tag.name), title: "An RSS feed of all items in this hub, added by a specific user tagged with a specific tag." do
          = image_tag image_path('protocol_rss.png')
          %p RSS
      .col-xs-4
        = link_to hub_user_tags_name_atom_path(@hub, @user.username, @tag.name), title: "An Atom feed of all items in this hub, added by a specific user tagged with a specific tag." do
          = image_tag image_path('protocol_atom.png')
          %p ATOM
      .col-xs-4
        = link_to hub_user_tags_name_json_path(@hub, @user.username, @tag.name), title: "jsonp of all items in this hub, added by a specific user tagged with a specific tag." do
          = image_tag image_path('protocol_json.png')
          %p JSON
    - else
      .col-xs-4
        = link_to hub_user_tags_rss_path(@hub, @user.username), title: "An RSS feed of all items in this hub, added by a specific user." do
          = image_tag image_path('protocol_rss.png')
          %p RSS
      .col-xs-4
        = link_to hub_user_tags_atom_path(@hub, @user.username), title: "An Atom feed of all items in this hub, added by a specific user." do
          = image_tag image_path('protocol_atom.png')
          %p ATOM
      .col-xs-4
        = link_to hub_user_tags_json_path(@hub, @user.username), title: "jsonp of all items in this hub, added by a specific user." do
          = image_tag image_path('protocol_json.png')
          %p JSON
