- content_for :top_panel do
  %h1= @user.username
- content_for :tabs do
  = render partial: 'tabs', locals: { active: params[:roles_on] }
- content_for :tab_content do
  .nicely-padded
    = render partial: 'shared/paginate', object: @roles_on, as: :results
    %ul.list-unstyled
      = render partial: 'shared/roles_on/hub_' + params[:roles_on].constantize.to_s.tableize.singularize, collection: @roles_on
    = render partial: 'shared/paginate', object: @roles_on, as: :results
