<% content_for :top_panel do %>
  <h1><%= @user.username %></h1>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'tabs', locals: { active: params[:roles_on] } %>
<% end %>

<% content_for :tab_content do %>
  <div class="nicely-padded">
    <%= render partial: 'shared/paginate', object: @roles_on, as: :results %>
    <ul class="list-unstyled">
      <%= render partial: 'shared/roles_on/' +
        params[:roles_on].constantize.to_s.tableize.singularize,
        collection: @roles_on %>
    </ul>
    <%= render partial: 'shared/paginate', object: @roles_on, as: :results %>
  </div>
<% end %>
