<% content_for :top_panel do %>
  <h1><%= @user.username %></h1>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'tabs', locals: { active: 'about' } %>
<% end %>

<% content_for :tab_content do %>
  <div class="nicely-padded">
    <%= @user.first_name %>
    <%= @user.last_name %>
    <%= mail_to(@user.email, @user.email, :encode => 'javascript') %>
  </div>
<% end %>
