- content_for :top_panel do
  %h1= @user.username
- content_for :tabs do
  = render partial: 'tabs', locals: { active: 'about' }
- content_for :tab_content do
  .nicely-padded
    = @user.first_name
    = @user.last_name
    = mail_to(@user.email, @user.email, :encode => 'javascript')
