- content_for :top_panel do
  = render partial: 'tags_top_panel', locals: { feed_items: @feed_items, hub: @hub, tagteam_tag: @tag, user: @user }
- content_for :tabs do
  %li.active
    = documentation('tagged-item-list')
    - if @tag
      = link_to('Items', hub_user_tags_name_path(@hub, @user.username, @tag.name))
    - else
      = link_to('Items', hub_user_tags_path(@hub, u(@user.username)))
    .nav-pill-arrow
- content_for :tab_content do
  = render partial: 'feed_items/alter_view', locals: { view: 'grid', results: @feed_items }
  %ul.list-unstyled
    = render partial: 'feed_items/grid', object: @feed_items, as: :feed_items
