.row
  .notifications.col-md-6
    %h2
      %strong Notifications

    = form_tag(set_notifications_hub_path(hub)) do
      .form-group.checkbox
        = label_tag 'notify_taggers' do
          = check_box_tag('notify_taggers',
            hub.notify_taggers,
            hub.notify_taggers,
            id: 'notify_taggers')
          Notify taggers when their tags are modified

      .form-group.checkbox
        = label_tag 'allow_taggers_to_sign_up_for_notifications' do
          = check_box_tag('allow_taggers_to_sign_up_for_notifications',
            hub.allow_taggers_to_sign_up_for_notifications,
            hub.allow_taggers_to_sign_up_for_notifications,
            id: 'allow_taggers_to_sign_up_for_notifications')
          Allow taggers to sign up for notifications of an item modification

      = submit_tag 'Save notifications', class: 'btn btn-primary', id: 'save_notifications'
