<div class="hub-item-view row">
  <div class="col-md-offset-1 col-xs-5 col-lg-4"><%= render partial: 'shared/paginate', object: hubs, as: :results %></div>
  <div class="views pull-right">
    Sort by:
    <%= sortable_link('title', sort, order, path) %>
    <%= sortable_link('date', sort, order, path) %>
    <%= sortable_link('owner', sort, order, path) %>
  </div>
</div>
  <ul class="list-unstyled flush-top">
    <%= render partial: 'hubs/list_item_extended', collection: hubs, as: :hub %>
  </ul>
  <div class="text-center">
    <%= render partial: 'shared/paginate', object: hubs, as: :results %>
  </div>
