<li class="<%= 'active' if active == 'all' %>">
  <%= documentation('hubs-all-hubs') %>
  <%= link_to 'All hubs', hubs_path %>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'mine' %> last-of-section">
  <%= documentation('hubs-my-hubs') %>
  <%= link_to 'My hubs', my_hubs_path %>
  <div class="nav-pill-arrow"></div>
</li>
<li class="search-pill"><%= render partial: 'hub_search_form' %></li>

