%li.hub.row
  .col-xs-10.col-xs-offset-1
    %h3
      = link_to hub.title, hub_path(hub)
    %dl
      %dt
        = 'Owner'.pluralize(hub.owners)
        \:
      %dd= hub.owners.map(&:username).join(', ')
      %dt Created:
      %dd= hub.created_at.strftime('%F')
    %p= sanitize hub.description, tags: %i[h2 h3 p strong a]
