<li class="hub row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>
      <%= link_to hub.title, hub_path(hub) %>
    </h3>
    <dl>
      <dt><%= 'Owner'.pluralize(hub.owners) %>:</dt> <dd><%= hub.owners.map(&:username).join(', ') %></dd>
      <dt>Created:</dt> <dd><%= hub.created_at.strftime('%F') %></dd>
    </dl>
    <p><%= raw hub.description %></p>
  </div>
</li>
