<li class="hub">
<div class="row">
  <div class="col-xs-1"><%= fa_icon 'archive' %></div>
  <div class="col-xs-11">
      <div class="row">
        <div class="col-xs-10">
          <h3><%= link_to hub.title, hub_path(hub) %></h3>
        </div>
        <div class="actions col-xs-2 text-right">
          <% if current_user && current_user.is?(:owner, hub) %>
            <%= link_to edit_hub_path(hub), title: 'Edit this hub' do %>
              <%= fa_icon 'pencil' %>
            <% end %>
            <%= link_to hub_path(hub), method: :delete, title: 'Delete this hub', data: { confirm: 'Are you sure you want to delete this hub?' } do %>
              <%= fa_icon 'remove' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% unless hub.description.blank? %>
       <% if defined?(limit) and hub.description.length > limit %>
         <div class="description"><%= raw(limit_html(hub.description, limit)) + "..." %></div>
       <% else %>
         <div class="description"><%= raw(hub.description) %></div>
       <% end %>
    <% end %>
  </div>
</div>
</li>
