<li class="<%= 'active' if active == 'items' %>">
  <%= documentation('hub-wide-item-list') %>
  <%= link_to('Items', items_hub_path(@hub))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'inputs' %>">
  <%= documentation('hub-watched-feeds-list') %>
  <%= link_to('Inputs', hub_hub_feeds_path(@hub))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'bookmarks' %>">
  <%= documentation('hub-bookmark_collections-list') %>
  <%= link_to('Bookmarks', bookmark_collections_hub_path(@hub))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="last-of-section <%= 'active' if active == 'remixes' %>">
  <%= documentation('hub-republished-feeds-list') %>
  <%= link_to('Remixes', hub_republished_feeds_path(@hub))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'tags' %>">
  <% if !@hub_feed.blank? %>
    <%= documentation('hub-feed-tag-cloud') %>
  <% else %>
    <%= documentation('hub-tag-cloud') %>
  <% end %>
  <%= link_to('Tags', hub_tags_path(@hub))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="last-of-section <%= 'active' if active == 'filters' %>">
  <%= documentation('hub-wide-tag-filters') %>
  <%= link_to('Filters', hub_hub_tag_filters_path(@hub) )%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'history' %>">
  <%= documentation('hub-wide-feed-retrievals-list') %>
  <%= link_to('History', retrievals_hub_path(@hub) )%>
  <div class="nav-pill-arrow"></div>
</li>
<% if current_user && current_user.is?(:owner, @hub) %> 
<li class="<%= 'active' if active == 'community' %>">
  <%= documentation('hub-community') %>
  <%= link_to('Community', community_hub_path(@hub) )%>
  <div class="nav-pill-arrow"></div>
</li>
<% end %>
<li class="<%= 'active' if active == 'about' %>">
  <%= documentation('hub_about') %>
  <%= link_to('About', about_hub_path(@hub))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="last-of-section <%= 'active' if active == 'contact' %>">
  <%= documentation('hub-contact') %>
  <%= link_to('Contact', contact_hub_path(@hub)) %>
  <div class="nav-pill-arrow"></div>
</li>
<li class="search-pill">
  <%= render partial: 'hubs/search_form' %>
</li>
