%div{ class: "tag_filter #{type.to_s}" }
  %span.filter-action= type.to_s.capitalize
  %em= @tag.name
  - case type
  - when :add then 'to'
  - when :modify then 'for'
  - when :delete then 'from'
  \:
  %ul
    - if hub_filter_possible?(type, params, current_user)
      %li= link_to_tag_filter 'all items in this hub', type, { hub: @hub, tag: @tag, tag_list: @feed_item&.applied_tags(@hub).map(&:name).join(', ') }
    - if feed_filter_possible?(params, current_user)
      %li
        = link_to_tag_filter 'all items in this feed', type,
          { hub: @hub, feed: @hub_feed, tag: @tag, tag_list: @feed_item.applied_tags(@hub).map(&:name).join(', ') }
    - if item_filter_possible?(params, current_user) && type != :add
      %li= link_to_tag_filter 'just this item', type, { hub: @hub, item: @feed_item, tag: @tag, tag_list: @feed_item.applied_tags(@hub).map(&:name).join(', ') }
