.col-sm-8
  %h1
    = hub.title
    %span.actions
      - if current_user && (current_user.is?(:owner, hub) || current_user.is?(:superadmin))
        = link_to edit_hub_path(hub), title: 'Edit this hub' do
          = fa_icon 'pencil'
        = link_to hub_path(hub), method: :delete, confirm: 'Are you sure you want to delete this hub?', title: 'Delete this hub' do
          = fa_icon 'remove'

.col-sm-4
  .export-menu.text-right
    = link_to items_hub_path(hub, format: :rss), title: 'An RSS feed of all items in this hub, with tag filters applied.', class: 'btn btn-default' do
      = image_tag('protocol_rss.png', width: 12, height: 12)
      RSS
      %span.badge
        = FeedSubscriber.count_for(items_hub_path(hub, format: :rss))
    = link_to items_hub_path(hub, format: :atom), title: 'An Atom feed of all items in this hub, with tag filters applied.', class: 'btn btn-default' do
      = image_tag('protocol_atom.png', width: 12, height: 12)
      ATOM
      %span.badge
        = FeedSubscriber.count_for(items_hub_path(hub, format: :atom))
    = link_to items_hub_path(hub, format: :json, callback: 'callback'), title: 'jsonp of all items in this hub, with tag filters applied.', class: 'btn btn-default' do
      = image_tag('protocol_json.png', width: 12, height: 12)
      JSON
      %span.badge
        = FeedSubscriber.count_for(items_hub_path(hub, format: :json))
