.hub-item-view.row
  .col-md-offset-1.col-md-7.pagination-wrapper
    = render partial: 'shared/paginate', object: taggers, as: :results
  .alter-views.col-md-4
    Sort by:
    \#{sortable_link('name', sort, order, path)}
    \#{sortable_link('score', sort, order, path)}
.nicely-padded.scoreboard
  %h1 Scoreboard
  - if taggers.present?
    %ul.nicely-padded.scoreboard
      - taggers.each do |tagger|
        %li{ id: "tagger-#{tagger.id}" }
          .media
            .pull-body
              = tagger.first_name
              = tagger.last_name
  - else
    This hub currently has no scoreboard.