<tr>
  <td>
    <%= hub_user.username %>
  </td>
  <td>
    <ul class="list-unstyled">
    <% hub_user.roles.where(authorizable_type: 'Hub', authorizable_id: @hub.id).each do |r| %>
      <div class="role checkbox">
        <% role_att = "#{r.name}:#{hub_user.id}" %>
        <%= label_tag role_att do %>
          <% if current_user && current_user.is?(:owner, @hub) && current_user != hub_user %>
            <%= check_box_tag "roles_to_remove[]", role_att, false, id: role_att %>
          <% else %>
            <%= check_box_tag 'cannot_remove', 1, false, disabled: true %>
          <% end %>
          <%= Hub::DELEGATABLE_ROLES_HASH[r.name.to_sym][:name] %>
        <% end %>
       </div>
    <% end %>
    </ul>
  </td>
</tr>
