<% content_for :top_panel do %>
  <%= render partial: 'hubs/header' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'bookmarks' } %>
<% end %>

<% content_for :tab_content do %>
<div class="hub_feeds nicely-padded">
  <h1>Bookmark Collections</h1>
  <% if current_user && (current_user.is?(:owner, @hub) || current_user.is?(:bookmarker, @hub))%>
    <p class="info">
      You can use a bookmarklet to add pages directly to your bookmark collections. Drag this link -- <strong><a href="javascript:(function(){f='<%= bookmarklets_add_url %>?feed_item%5burl%5d='+encodeURIComponent(window.location.href)+'&feed_item%5btitle%5d='+encodeURIComponent(document.title)+'&feed_item%5bdescription%5d='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&';a=function(){if(!window.open(f+'noui=1&jump=doclose','tagteam','location=1,links=0,scrollbars=0,toolbar=0,width=710,height=660'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()">Add to Tagteam</a> </strong> -- to your browser's bookmarks toolbar to get started.
    </p>
  <% end %>

  <%= link_to new_hub_feed_path(hub_id: @hub.id), class: "btn btn-success new_object" do %>
    <%= fa_icon 'plus-circle', text: 'New bookmark collection' %>
  <% end %>

<%= will_paginate @bookmark_collections,
    renderer: BootstrapPagination::Rails,
    next_label: fa_icon('chevron-right'),
    previous_label: fa_icon('chevron-left')
%>
<ul class="hub_feeds list-unstyled nicely-padded" id="hub_feed_list_<%= @hub.id %>">
  <%= render partial: 'hub_feeds/list_item', collection: @bookmark_collections, as: :hub_feed %>
</ul>
<%= will_paginate @bookmark_collections,
    renderer: BootstrapPagination::Rails,
    next_label: fa_icon('chevron-right'),
    previous_label: fa_icon('chevron-left')
%>

</div>
<% end %>
