- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'bookmarks' }
- content_for :tab_content do
  .hub_feeds.nicely-padded
    %h1
      - if current_user && (current_user.is?(:owner, @hub) || current_user.is?(:bookmarker, @hub))
        .pull-right
          = link_to new_hub_feed_path(hub_id: @hub.id), class: "btn btn-success new_object" do
            = fa_icon 'plus-circle', text: 'New bookmark collection'
      Bookmark collections
    - if current_user && (current_user.is?(:owner, @hub) || current_user.is?(:bookmarker, @hub))
      %p.info
        You can use a bookmarklet to add pages directly to your bookmark collections.
        Drag the
        %em Add to TagTeam
        button below to your browser's bookmarks
        bar to get started.
      .text-center= render partial: 'shared/bookmarklet_button'
    - if @bookmark_collections.empty?
      %p This hub currently has no bookmark collections.
    - else
      .text-right
        = render partial: 'shared/paginate', object: @bookmark_collections, as: :results
      %ul.hub_feeds.list-unstyled.nicely-padded{:id => "hub_feed_list_#{@hub.id}"}
        = render partial: 'hub_feeds/list_item', collection: @bookmark_collections, as: :hub_feed
      .text-center
        = render partial: 'shared/paginate', object: @bookmark_collections, as: :results
