<% unless request.xhr? %>
  <h2>Items from <%= breadcrumbs.items.collect{|i| i[0]}.reject{|i| ! i.match(/^\d+$/)}.join('-') %>, <%= @search.total %> total</h2>
<div class="tabs" id="by_date_tabs">
  <ul>
    <li><a href="#items">Items</a></li>
  </ul>
<% end %>
  <div id="items"> 
    <%= will_paginate @feed_items %>
    <table class="hub feed_items" id="hub_<%= @hub.id %>">
      <%= render :partial => 'shared/line_items/feed_item', :collection => @feed_items %>
    </table>
    <%= will_paginate @feed_items %>
  </div>
<% unless request.xhr? %>
</div>
<% end %>
