<% content_for :top_panel do %>
  <%= render partial: 'hubs/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'items' } %>
<% end %>

<% content_for :tab_content do %>
<%= render partial: 'feed_items/alter_view', locals: { view: 'list', results: @search.results } %>
  <div class="nicely-padded">
    <h1>
      Items From
      <%= breadcrumbs.items.collect{|i| i[0]}.reject{|i| ! i.match(/^\d+$/)}.join('-') %>
    </h1>
  </div>

  <ul class="list-unstyled flush-top">
    <%= render partial: 'feed_items/list_item', collection: @search.results, as: :feed_item %>
  </ul>
  <div class="text-center">
    <%= render partial: 'shared/paginate', object: @search.results, as: :results %>
  </div>
<% end %>
