- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'community' }
- content_for :tab_content do
  .nicely-padded.community
    %h1 Community
    .row
      %h2
        There #{@allowed_to_tag == 1 ? 'is' : 'are'}
        %span.badge= @allowed_to_tag
        = 'person'.pluralize(@allowed_to_tag)
        currently authorized to tag
        for this hub.
    .row
      - if current_user && current_user.is?(:owner, @hub)
        = render('hubs/community/assign_roles')

      = render('hubs/community/remove_roles')

      = render('hubs/community/notifications')
