<% content_for :top_panel do %>
  <%= render partial: 'hubs/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'community' } %>
<% end %>

<% content_for :tab_content do %>
<div class="nicely-padded community">
  <h1>Community</h1>
  <div class="row">
  <% if current_user && current_user.is?(:owner, @hub) %> 
      <div class="grant_roles col-md-6">
    <%= form_tag(add_roles_hub_path(@hub)) do %>
        <h3>Assign roles</h3>
        <ul class="list-unstyled">
          <% Hub::DELEGATABLE_ROLES_FOR_FORMS.each do|r| %>
            <li class="role">
              <div class="checkbox">
                <%= label_tag "role_#{r[0]}" do %>
                  <%= check_box_tag('roles[]', r[0], false, {id: "role_#{r[0]}"}) %>
                  <%= r[1] %>
                  <span class="help-block">
                    <%= Hub::DELEGATABLE_ROLES_HASH[r[0]][:description] %>
                  </span>
                <% end %>
              </div>
            </li>
          <% end %>
          </ul>
          <div class="form-group">
            <label>Users</label>
              <%= text_field_tag :find_user_autocomplete, '', size: 40, placeholder: "Username or email address", class: 'form-control' %>
          </div>
          <div id="user_id_container"></div>
          <%= submit_tag('Grant roles', class: 'btn btn-primary', id: 'add_roles') %>

        <%= javascript_tag %Q|$(document).ready(function(){
  $.observeAutocomplete($.rootPath() + 'users/autocomplete','#find_user_autocomplete', 'user_ids', '#user_id_container','search_select user'); 
  $.observeSearchSelectControl();
  });| %>
    <% end %>
      </div>
  <% end %>

    <div class="remove_roles col-md-6">
      <h3>Remove roles</h3>
      <%= form_tag(remove_roles_hub_path(@hub)) do %>
        <table class="table table-condensed">
          <tr>
            <th>Username</th>
            <th>Roles</th>
          </tr>
          <%= render partial: 'hubs/user', as: :hub_user, collection: @hub.users_with_roles %>
        </table>
        <p>What should we do with items managed by these users?</p>

        <div class="form-inline">
          <div class="form-group">
            <div class="radio">
              <%= label_tag 'revocation_reassign' do %>
              <%= radio_button_tag :revocation_action, 'reassign', true, id: "revocation_reassign" %>
                Reassign them to
              <% end %>
              <%= select_tag :reassign_to,
                options_from_collection_for_select(@hub.owners, 'id','username'),
                class: 'form-control input-sm'
              %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="radio">
            <%= label_tag 'revocation_delete' do %>
              <%= radio_button_tag :revocation_action, 'delete', false, id: "revocation_delete" %>
              Delete them permanently
            <% end %>
          </div>
        </div>
        <%= submit_tag 'Remove roles', class: 'btn btn-primary', id: 'remove_roles' %>
      <% end %>
    </div>
    
    <div class="notifications col-md-6">
      <h3>Notifications</h3>

      <%= form_tag(set_notifications_hub_path(@hub)) do %>
        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <%= label_tag 'notify_taggers' do %>
                <%= check_box_tag('notify_taggers', @hub.notify_taggers, @hub.notify_taggers, {id: 'notify_taggers'}) %>
                Notify taggers when their tags modify
              <% end %>
            </div>
          </li>
          
          <li>
            <div class="checkbox">
              <%= label_tag 'allow_taggers_to_sign_up_for_notifications' do %>
                <%= check_box_tag('allow_taggers_to_sign_up_for_notifications', @hub.allow_taggers_to_sign_up_for_notifications, @hub.allow_taggers_to_sign_up_for_notifications, {id: 'allow_taggers_to_sign_up_for_notifications'}) %>
                Allow taggers to sign up for notifications of an item modification
              <% end %>
            </div>
          </li>
        </ul>

        <%= submit_tag 'Save notifications', class: 'btn btn-primary', id: 'save_notifications' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
