<% content_for :top_panel do %>
  <%= render partial: 'hubs/header' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'contact' } %>
<% end %>

<% content_for :tab_content do %>
  <div class="nicely-padded">
<% if ! @errors.nil? %>
  <div class="error">
    <%= raw @errors %>
  </div>
<% end %>
<div id="contact">
  <h1>Contact this hub&apos;s owners</h1>
  <%= semantic_form_for(:contact, url: request_rights_hub_path(@hub)) do |f| %>
    <%= f.inputs do %>
      <%= f.input :name, required: false %>
      <%= f.input :email,
        input_html: { value: ((current_user.blank?) ? '' : current_user.email) } %>
      <%= f.input :reason, required: false, as: :select, collection: [
        ['Question','question'],
        ['Bug report','bug'],
        ['Broken feed','broken feed'],
        ['Feed Suggestion','feed suggestion'],
        ['Request to Collaborate','collaborate']
      ] %>
    <%= f.input :rights, as: :check_boxes,
      label: "Ways you'd like to collaborate",
      required: false,
      hint: 'Please describe why you\'d like to collaborate in this hub in the field below.',
      collection: [
        'Full rights to manage this hub',
        'Add bookmarked items',
        'Add new input RSS / Atom feeds',
        'Create new feed remixes',
        'Manage tag filters'
      ] %>
    <%= f.input :message, as: :text %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, as: :button, label: 'Submit',
        button_html: { class: 'btn btn-primary' } %>
    <% end %>
  <% end %>
</div>

<%= javascript_tag do %>
$(document).ready(function(){
  if($('#contact_reason').val() != 'collaborate'){
    $('#contact_rights_input, #contact_why_rights_input').hide();
  }
  $('#contact_reason').change(function(e){
    if($(this).val() == 'collaborate'){
      $('#contact_rights_input, #contact_why_rights_input').show('slow');
    } else {
      $('#contact_rights_input, #contact_why_rights_input').hide();
    }
  });
  $('.formtastic.contact').ajaxForm({
    success: function(html){
      $('.formtastic.contact').html("<p>Thanks! We'll be in touch soon.</p>");
    }
  });
});
<% end %>
</div>
<% end %>
