- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'contact' }
- content_for :tab_content do
  .nicely-padded
    - if @errors.present?
      .error
        = @errors
    #contact
      %h1 Contact this hub's owners
      = semantic_form_for(:contact, url: request_rights_hub_path(@hub)) do |f|
        = f.inputs do
          = f.input :name, required: false
          = f.input :email, input_html: { value: (current_user.blank? ? '' : current_user.email) }
          = f.input :reason, required: false, as: :select, collection: [%w[Question question],
            ['Bug report', 'bug'],
            ['Broken feed', 'broken feed'],
            ['Feed suggestion', 'feed suggestion'],
            ['Request to collaborate', 'collaborate']]
          = f.input :rights, as: :check_boxes,
            label: "Ways you'd like to collaborate",
            required: false,
            hint: 'Please describe why you\'d like to collaborate in this hub in the field below.',
            collection: ['Owner',
              'Tagger',
              'Feed remixer',
              'Hub-wide tag filter adder',
              'Hub-wide tag filter deleter',
              'Hub-wide tag filter modifier',
              'Hub-wide tag filter supplementer',
              'Feed-wide tag filter manager',
              'Item-level tag filter manager',
              'Input feed manager',
              'Statistics viewer']
          = f.input :message, as: :text, input_html: { rows: 8 }
          = recaptcha_tags
          %br
        = f.actions do
          = f.action :submit, as: :button, label: 'Submit', button_html: { class: 'btn btn-primary' }
    :javascript
      $(document).ready(function(){
        if($('#contact_reason').val() != 'collaborate'){
          $('#contact_rights_input, #contact_why_rights_input').hide();
        }

        $('#contact_reason').change(function(e){
          if($(this).val() == 'collaborate'){
            $('#contact_rights_input, #contact_why_rights_input').show('slow');
          } else {
            $('#contact_rights_input, #contact_why_rights_input').hide();
          }
        });

        $('.formtastic.contact').ajaxForm({
          success: function(html){
            $('.formtastic.contact').html("<p>Thanks! We'll be in touch soon.</p>");
          }
        });
      });
