- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'items' }
- content_for :tab_content do
  = render partial: 'feed_items/alter_view', locals: { view: 'list', results: @search.results }
  - if @search.total == 0
    .nicely-padded
      %p
        None yet. Please add some feeds from the #{link_to "Inputs tab", hub_hub_feeds_path(@hub)}.
  - else
    %ul.list-unstyled.flush-top
      = render partial: 'feed_items/list_item', collection: @search.results, as: :feed_item
    .text-center
      = render partial: 'shared/paginate', object: @search.results, as: :results
