<%= documentation('hub-wide-item-list') %>
<div id="items">
  <% unless @search.blank? %>
    <h2>Items - <%= @search.total %> total</h2>
    <%= will_paginate @search.results %>
    <table class="hub feed_items" id="hub_<%= (@hub.blank?) ? '' : @hub.id %>">
      <%= render :partial => 'shared/line_items/feed_item', :collection => @search.results %>
    </table>
    <%= will_paginate @search.results %>
  <% else %>
    <p>None yet. Please add some feeds from the "watching" tab.</p>
  <% end %>
</div>
