<%= documentation('hub-wide-item-search') %>
<div style="margin-bottom: 1em;">
  <h2>Search</h2>
  <%= form_tag(item_search_hub_path(@hub), :method => :get, :id => 'hub_search_form') do %>
    <ul class="search_controls">
      <li><span class="ui-silk ui-silk-zoom inline"></span> <%= text_field_tag :q, params[:q], :size => 50, :placeholder => 'Search this hub...' %></li>
    <li><%= submit_tag('Search items', :class => 'button') %> <%= link_to('bookmark this search', request.fullpath) unless @search.blank? || @search.results.length == 0 %></li>
  </ul>
  <% end %>
</div>

<% if @search.blank? || @search.results.length == 0 %>
  <h3>Nothing. Please try a different term.</h3>
<% else %>
  <h2>Items: <%= @search.total %> total </h2>
  <%= will_paginate @search.results %>
  <table class="hub">
    <% @search.results.each do|r| %>
      <%= render :partial => 'shared/line_items/feed_item', :object => r %>
    <% end %>
  </table>
  <%= will_paginate @search.results %>
<% end %>

<%= javascript_tag %Q|$(document).ready(function(){
$.observeSearchSelectControl();
});| %>
