<%= documentation('hub-wide-item-search') %>
<div style="margin-bottom: 1em;">
  <h2>Feed Item Search</h2>
  <%= form_tag(item_search_hub_path(@hub), :method => :get, :id => 'hub_search_form') do %>
    <%= text_field_tag :q, params[:q], :size => 50, :placeholder => 'Keyword search. . .' %> <br/>
    <%= text_field_tag :include_tags, params[:include_tags], :size => 40, :placeholder => 'Include these tags. . . .' %>
    <%= text_field_tag :exclude_tags, params[:exclude_tags], :size => 40, :placeholder => 'Exclude these tags. . . .' %><br/>

    <%= text_field_tag :in_hub_feeds, params[:in_hub_feeds], :size => 100, :placeholder => 'In these feeds. . . .' %><br/>
    <%= hidden_field_tag :hub_feed_ids, params[:hub_feed_ids] %>
    <%= submit_tag('Search items', :class => 'button') %>
  <% end %>
</div>

<% if @search.blank? || @search.results.length == 0 %>
  <h3>Nothing. Please try a different term.</h3>
<% else %>
  <%= will_paginate @search.results %>
  <table class="hub">
    <% @search.results.each do|r| %>
      <%= render :partial => 'shared/line_items/feed_item', :object => r %>
    <% end %>
  </table>
  <%= will_paginate @search.results %>
<% end %>

<%= javascript_tag %Q|$(document).ready(function(){
$.observeTagAutocomplete(#{@hub.id},'#include_tags'); 
$.observeTagAutocomplete(#{@hub.id},'#exclude_tags');
$.observeHubFeedAutocomplete(#{@hub.id},'#in_hub_feeds');
});| %>
