<% content_for :top_panel do %>
  <%= render partial: 'hubs/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'items' } %>
<% end %>

<% content_for :tab_content do %>
<%= render partial: 'feed_items/alter_view', locals: { view: 'list', results: @search.results } %>

<% if @search.total == 0 %>
  <p>None yet. Please add some feeds from the <%= link_to "Inputs tab", hub_hub_feeds_path(@hub) %>.</p>
<% else %>
  <ul class="list-unstyled flush-top">
    <%= render partial: 'feed_items/list_item', collection: @search.results, as: :feed_item %>
  </ul>
  <div class="text-center">
    <%= render partial: 'shared/paginate', object: @search.results, as: :results %>
  </div>
<% end %>

<% end %>
