- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'notifications' }
- content_for :tab_content do
  .nicely-padded.notifications
    %h1 Notifications
    .col-md-6
      = form_tag(set_user_notifications_hub_path()) do
        %ul.list-unstyled
          %li
            .checkbox
              = label_tag 'notify_about_modifications' do
                = check_box_tag('notify_about_modifications', @notifications_setup.notify_about_modifications, @notifications_setup.notify_about_modifications, {id: 'notify_about_modifications'})
                Notify me when any of my items are modified
        = submit_tag 'Save', class: 'btn btn-primary', id: 'save_notifications'
