<% content_for :top_panel do %>
  <%= render partial: 'hubs/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'history' } %>
<% end %>

<% content_for :tab_content do %>
<div class="feed_retrievals nicely-padded">
  <h1>Update History</h1>
  <% if @feed_retrievals.blank? %>
    <h2>None found.</h2>
  <% else %>
    <%= will_paginate @feed_retrievals.results,
        next_label: fa_icon('chevron-right'),
        previous_label: fa_icon('chevron-left'),
        renderer: BootstrapPagination::Rails %>
    <table class="table table-condensed">
      <tr>
        <th>Feed</th>
        <th>Time</th>
        <th>New Items</th>
        <th>Changed Items</th>
      </tr>
      <%= render partial: 'feed_retrievals/list_item', as: :hub_feed_retrieval,
        collection: @feed_retrievals.results %>
    </table>
    <%= will_paginate @feed_retrievals.results,
        next_label: fa_icon('chevron-right'),
        previous_label: fa_icon('chevron-left'),
        renderer: BootstrapPagination::Rails %>
  <% end %>
</div>
<% end %>
