<div style="margin-bottom: 1em;">
  <%= form_tag(search_hub_path(@hub), :method => :get, :id => 'hub_search_form') do %>
    <%= text_field_tag :q, params[:q], :size => 50, :placeholder => 'Search here. . .' %>
    <strong>Search in:</strong>
    <% [Feed,FeedItem,ActsAsTaggableOn::Tag].each_with_index do |search_in,i| %>
      <%= check_box_tag('search_in[]', search_in, ((params[:search_in].blank?) ? true : params[:search_in].include?(search_in.to_s)), :id => "search_in_#{i}") %><%= label_tag("search_in_#{i}", search_in.descriptive_name) %>
    <% end %>
    <%= submit_tag('Search', :class => 'button') %>
  <% end %>
</div>

<% if @search.blank? || @search.results.length == 0 %>
  <h3>Nothing. Please try a different term.</h3>
<% else %>
  <%= render :partial => 'shared/search_results/list', :object => @search %>
<% end %>
