<%= documentation('hub-wide-search') %>
<div style="margin-bottom: 1em;">
  <h2>Keyword search</h2>
  <%= form_tag(search_hub_path(@hub), :method => :get, :id => 'hub_search_form') do %>
    <%= text_field_tag :q, params[:q], :size => 50, :placeholder => 'Search here. . .' %>
    <strong>Search in:</strong>
    <% [HubFeed,FeedItem,ActsAsTaggableOn::Tag].each_with_index do |search_in,i| %>
      <%= check_box_tag('search_in[]', search_in, ((params[:search_in].blank?) ? true : params[:search_in].include?(search_in.to_s)), :id => "search_in_#{i}") %><%= label_tag("search_in_#{i}", search_in.descriptive_name) %>
    <% end %>
    <%= submit_tag('Keyword Search', :class => 'button') %>
  <% end %>
</div>

<div style="margin-bottom: 1em;">
  <h2>Tag search</h2>
  <%= form_tag(search_hub_path(@hub), :method => :get, :id => 'hub_tag_search_form') do %>
    <%= text_field_tag :include_tags, params[:include_tags], :size => 40, :placeholder => 'Include these tags. . . .' %>
    <%= text_field_tag :exclude_tags, params[:exclude_tags], :size => 40, :placeholder => 'Exclude these tags. . . .' %>
    <%= submit_tag('Tag Search', :class => 'button') %>
  <% end %>
</div>

<% if @search.blank? || @search.results.length == 0 %>
  <h3>Nothing. Please try a different term.</h3>
<% else %>
  <%= will_paginate @search.results %>
  <table class="hub search_results">
    <% @search.results.each do|r| %>
      <% if r.class == HubFeed %>
        <%= render :partial => 'shared/line_items/hub_feed', :object => r %>
      <% end %>
      <% if r.class == FeedItem %>
        <%= render :partial => 'shared/line_items/feed_item', :object => r %>
      <% end %>
      <% if r.class == ActsAsTaggableOn::Tag %>
        <%= render :partial => 'shared/line_items/tag', :object => r %>
      <% end %>
      <div class="clear"></div>
    <% end %>
  </table>
  <%= will_paginate @search.results %>
<% end %>

<%= javascript_tag %Q|$(document).ready(function(){
$.observeTagAutocomplete(#{@hub.id},'#include_tags'); 
$.observeTagAutocomplete(#{@hub.id},'#exclude_tags');
});| %>
