<% content_for :top_panel do %>
  <h2 class="page-title">
    Search TagTeam hubs for &quot;<em><%= params[:q] %></em>&quot; &ndash;
    <%= @search.total %> <%= 'result'.pluralize(@search.total) %>
  </h2>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hub_tabs', locals: { active: 'all' } %>
<% end %>

<% content_for :tab_content do %>
  <div class="row nicely-padded">
    <h1>Search</h1>
    <%= render partial: 'hub_search_form' %>
<% if @search.blank? || @search.results.length == 0 %>
  <h3>Nothing. Please try a different term.</h3>
  </div>
<% else %>
  </div>
  <%= render partial: 'shared/paginate', object: @search.results, as: :results %>
  <ul class="list-unstyled">
    <%= render partial: 'hubs/list_item_extended', collection: @search.results, as: :hub %>
  </ul>
  <%= render partial: 'shared/paginate', object: @search.results, as: :results %>
<% end %>
<% end %>
