<h1>  
  <% if current_user && current_user.is?(:owner, @hub) %> 
    <%= link_to('edit', edit_hub_path(@hub), :class => 'ui-silk inline ui-silk-edit hover gray') %>
    <%= link_to('Delete', hub_path(@hub), :method => :delete, :confirm => 'Are you sure?', :class => 'ui-silk inline ui-silk-delete hover gray') %>
  <% end %>
  Hub: <%= @hub.title %> 
  <sup>
    <%= link_to('RSS', items_hub_path(@hub, :format => :rss), :title => "An RSS feed of all items in this hub, with tag filters applied.") %>
    <%= link_to('Atom', items_hub_path(@hub, :format => :atom), :title => "An Atom feed of all items in this hub, with tag filters applied.") %>
  </sup>
</h1>

<div class="hub detailed hub_tabs" id="hub_<%= @hub.id %>">

  <ul>
    <li><a href="#about">About</a></li>
    <li><%= link_to('Items', items_hub_path(@hub))%></li>
    <li><%= link_to('Inputs', hub_hub_feeds_path(@hub))%></li>
    <li><%= link_to('Bookmarks', stacks_hub_path(@hub))%></li>
    <li><%= link_to('Remixes', hub_republished_feeds_path(@hub))%></li>
    <li><%= link_to('Tags', hub_tags_path(@hub))%></li>
    <li><%= link_to('Filters', hub_hub_tag_filters_path(@hub) )%></li>
    <li><%= link_to('Updates', retrievals_hub_path(@hub) )%></li>
    <li><%= link_to('Search', item_search_hub_path(@hub) )%></li>
  </ul>

  <div id="about">
    <%= documentation('hub_about') %>
    <% if current_user && current_user.has_role?(:superadmin) %>
      <p><%= link_to('Re-create all tags for this hub', recalc_all_tags_hub_path(@hub), :method => :post, :confirm => 'Are you sure? This should be needed in very rare circumstances') %></p>
    <% end %>
    <div class="metadata">
      <div class="description">
        <%= raw(@hub.description) %>
      </div>
      <dl>
        <% unless @hub.tag_prefix.blank? %>
          <dt>Prefix all tags emitted from the hub with</dt>
          <dd><%= @hub.tag_prefix %></dd>
        <% end %>
        <dt>Owners:</dt>
        <dd><%= @hub.owners.collect{|o| o.email}.join(', ') %></dd>
      </dl>
    </div>
  </div>

</div>

