<div class="hub detailed" id="hub_<%= @hub.id %>">
  <h1><%= @hub.title %><%= (@owners.include?(current_user)) ? link_to('Delete', hub_path(@hub), :method => :delete, :confirm => 'Are you sure?') : '' %></h1>
  <div class="description">
    <%= @hub.description %>
  </div>
  <% unless @hub.tag_prefix.blank? %>
    <div class="tag_prefix">
      Prefix all tags emitted from the hub with "<%= @hub.tag_prefix %>"
    </div>
  <% end %>
  <div class="meta">
    <dl>
      <dt>Owners:</dt>
      <dd><%= @hub.owners.collect{|o| o.email}.join(', ') %></dd>
    </dl>
  </div>
  <div class="hub_feeds">
    <%= render :partial => 'shared/line_items/hub_feed', :collection => @hub.hub_feeds %>
    <% if @owners.include?(current_user) %>
      <div class="add_feed_container">
        <div class="messages"></div>
        <input type="text" name="add_feed" id="feed_url" /> <a href="#" id="add_feed_button" class="button">Add Feed</a>
      </div> 
    <% end %>
  </div>
</div>
