.controls
  .text-center
    = link_to hub_tag_show_path(@hub, @tag.name) do
      View items tagged with
      %span.tag-name
        "
        %em>= @tag
        "
  .row.export-formats
    %hr/
    .col-xs-4= link_to "RSS", hub_tag_rss_path(@hub, @tag.name)
    .col-xs-4= link_to 'ATOM', hub_tag_atom_path(@hub, @tag.name)
    .col-xs-4= link_to 'JSON', hub_tag_json_path(@hub, @tag.name, :callback => 'callback')
  - if current_user.is?([:owner, :hub_tag_filterer, :hub_feed_tag_filterer, :hub_feed_item_tag_filterer], @hub)
    %h3 Filtering
    %hr/
  - if @already_filtered_for_hub
    %p
      A filter affecting "
      %em>= @tag
      " already exists on this hub.
  - if @already_filtered_for_hub_feed
    %p
      A filter affecting "
      %em>= @tag
      " already exists on this feed.
  - if @already_filtered_for_hub_feed_item
    %p
      A filter affecting "
      %em>= @tag
      " already exists on this item.
  - if hub_filter_possible?(params, current_user) || feed_filter_possible?(params, current_user)
    = render partial: 'tag_control_popup', locals: { type: :add, params: params, current_user: current_user }
  - if hub_filter_possible?(params, current_user) || feed_filter_possible?(params, current_user) || item_filter_possible?(params, current_user)
    = render partial: 'tag_control_popup', locals: { type: :modify, params: params, current_user: current_user }
  - if hub_filter_possible?(params, current_user) || feed_filter_possible?(params, current_user) || item_filter_possible?(params, current_user)
    = render partial: 'tag_control_popup', locals: { type: :delete, params: params, current_user: current_user }
  - if current_user.is?([:owner, :remixer], @hub)
    %h3 Publishing
    %hr/
    %ul
      %li
        = link_to 'Add to a remix feed',
          custom_republished_feeds_hub_path(@hub || @hub_feed.hub),
          title: "Add #{@tag.name} to a remix feed",
          class: 'dialog-show add_item_source_to_custom_republished_feed',
          data_item_type: 'ActsAsTaggableOn::Tag',
          data_item_id: @tag.id
      %li
        = link_to 'Remove from a remix feed',
          custom_republished_feeds_hub_path(@hub || @hub_feed.hub),
          title: "Remove #{@tag.name} from a remix feed",
          class: 'dialog-show remove_item_source_from_custom_republished_feed',
          data_item_type: 'ActsAsTaggableOn::Tag',
          data_item_id: @tag.id
