<div class="controls">

  <div class="text-center">
    <%= link_to hub_tag_show_path(@hub,u(@tag.name)) do %>
    View items tagged with <span class="tag-name">"<em><%= @tag %></em>"</span>
    <% end %>
  </div>
  <div class="row export-formats">
    <hr />
    <div class="col-xs-4"><%= link_to "RSS", hub_tag_rss_path(@hub,u(@tag.name)) %></div>
    <div class="col-xs-4"><%= link_to 'ATOM', hub_tag_atom_path(@hub,u(@tag.name)) %></div>
    <div class="col-xs-4"><%= link_to 'JSON', hub_tag_json_path(@hub,u(@tag.name), :callback => 'callback') %></div>
  </div>

  <% if current_user.is?([:owner, :hub_tag_filterer, :hub_feed_tag_filterer, :hub_feed_item_tag_filterer], @hub) %>
    <h3>Filtering</h3>
    <hr />
  <% end %>

  <% if @already_filtered_for_hub %>
    <p>A filter affecting "<em><%= @tag %></em>" already exists on this hub.</p>
  <% end %>
  <% if @already_filtered_for_hub_feed %>
    <p>A filter affecting "<em><%= @tag %></em>" already exists on this feed.</p>
  <% end %>
  <% if @already_filtered_for_hub_feed_item %>
    <p>A filter affecting "<em><%= @tag %></em>" already exists on this item.</p>
  <% end %>

  <% if hub_filter_possible?(params, current_user) ||
        feed_filter_possible?(params, current_user) ||
        item_filter_possible?(params, current_user) %>
  <%= render partial: 'tag_control_popup', locals: {
    type: :add, params: params, current_user: current_user } %>

  <%= render partial: 'tag_control_popup', locals: {
    type: :modify, params: params, current_user: current_user } %>

  <%= render partial: 'tag_control_popup', locals: {
    type: :delete, params: params, current_user: current_user } %>
  <% end %>

  <% if current_user.is?([:owner, :remixer], @hub) %>
    <h3>Publishing</h3>
    <hr />
    <ul>
      <li>
    <%= link_to 'Add to a remix feed',
      custom_republished_feeds_hub_path(@hub || @hub_feed.hub),
      title: "Add #{@tag.name} to a remix feed",
      class: 'dialog-show add_item_source_to_custom_republished_feed',
      data_item_type: 'ActsAsTaggableOn::Tag',
      data_item_id: @tag.id %>
    </li>

      <li>
    <%= link_to 'Remove from a remix feed',
      custom_republished_feeds_hub_path(@hub || @hub_feed.hub),
      title: "Remove #{@tag.name} from a remix feed",
      class: 'dialog-show remove_item_source_from_custom_republished_feed',
      data_item_type: 'ActsAsTaggableOn::Tag',
      data_item_id: @tag.id %>
    </li>
    </ul>
  <% end %>
</div>
