<div class="controls">
  <ul>
    <li><%= link_to(%Q|View items tagged with "#{@tag.name}"|, hub_tag_show_path(@hub,u(@tag.name))) %></li>
    <li><%= link_to("RSS", hub_tag_rss_path(@hub,u(@tag.name))) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to('Atom', hub_tag_atom_path(@hub,u(@tag.name))) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to('json', hub_tag_json_path(@hub,u(@tag.name), :callback => 'callback')) %></li>
  </ul>

  <% if current_user.is?([:owner, :hub_tag_filterer, :hub_feed_tag_filterer, :hub_feed_item_tag_filterer], @hub) %>
    <h3>Filters:</h3>
  <% end %>

  <ul>
    <% if current_user.is?([:owner, :hub_tag_filterer], @hub) %>
      <li><strong>For all items in this entire hub:</strong>
      <% if @already_filtered_for_hub %>
        <p>This tag has already been used in a hub-wide filter.</p>
      <% else %>
        <br/>
        <span class="ui-silk ui-silk-tag-blue-add inline"></span> <%= link_to 'Add', hub_hub_tag_filters_path(@hub), "data_hub_id" => @hub.id, :data_id => @tag.id, :data_type => 'AddTagFilter', :class => 'add_filter_control hub_tag_filter' %> | 
        <span class="ui-silk ui-silk-tag-blue-edit inline"></span> <%= link_to 'Modify', hub_hub_tag_filters_path(@hub), "data_hub_id" => @hub.id, :data_id => @tag.id, :data_type => 'ModifyTagFilter', :class => 'add_filter_control hub_tag_filter' %> | 
        <span class="ui-silk ui-silk-tag-blue-delete inline"></span> <%= link_to 'Delete', hub_hub_tag_filters_path(@hub), "data_hub_id" => @hub.id, :data_id => @tag.id, :data_type => 'DeleteTagFilter', :class => 'add_filter_control hub_tag_filter' %>
      <% end %>
      </li>
    <% end %>

    <% if params[:hub_feed_id].to_i != 0 %>
      <% if current_user.is?([:owner,:hub_feed_tag_filterer], @hub) %>
        <li><strong>For all items in this feed:</strong><br/>
        <% if @already_filtered_for_hub_feed %>
          <p>This tag has already been used in a filter for this feed.</p>
        <% else %>
          <span class="ui-silk ui-silk-tag-blue-add inline"></span>  <%= link_to 'Add', hub_feed_hub_feed_tag_filters_path(@hub_feed), :data_id => @tag.id, :data_type => 'AddTagFilter', :class => 'add_filter_control hub_feed_tag_filter' %> | 
          <span class="ui-silk ui-silk-tag-blue-edit inline"></span> <%= link_to 'Modify', hub_feed_hub_feed_tag_filters_path(@hub_feed), :data_id => @tag.id, :data_type => 'ModifyTagFilter', :class => 'add_filter_control hub_feed_tag_filter' %> | 
          <span class="ui-silk ui-silk-tag-blue-delete inline"></span> <%= link_to 'Delete', hub_feed_hub_feed_tag_filters_path(@hub_feed), :data_id => @tag.id, :data_type => 'DeleteTagFilter', :class => 'add_filter_control hub_feed_tag_filter' %>
        <% end %>
        </li>
      <% end %>
    <% end %>

    <% if params[:hub_feed_item_id].to_i != 0 %>
      <% if current_user.is?([:owner, :hub_feed_item_tag_filterer], @hub) %>
        <li><strong>For this item only:</strong><br/>
        <% if @already_filtered_for_hub_feed_item %>
          <p>This tag has already been used in a filter for this item.</p>
        <% else %>
          <span class="ui-silk ui-silk-tag-blue-add inline"></span> <%= link_to 'Add', hub_feed_item_hub_feed_item_tag_filters_path(@hub,@feed_item), :data_id => @tag.id, :data_type => 'AddTagFilter', :class => 'add_filter_control hub_feed_item_tag_filter' %> | 
          <span class="ui-silk ui-silk-tag-blue-edit inline"></span> <%= link_to 'Modify', hub_feed_item_hub_feed_item_tag_filters_path(@hub,@feed_item), :data_id => @tag.id, :data_type => 'ModifyTagFilter', :class => 'add_filter_control hub_feed_item_tag_filter' %> | 
          <span class="ui-silk ui-silk-tag-blue-delete inline"></span> <%= link_to 'Delete', hub_feed_item_hub_feed_item_tag_filters_path(@hub,@feed_item), :data_id => @tag.id, :data_type => 'DeleteTagFilter', :class => 'add_filter_control hub_feed_item_tag_filter' %>
        <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% if current_user.is?([:owner, :remixer], @hub) %>
    <h3>Publishing:</h3>
    <ul>
      <li>
      <%= link_to(raw('<span class="ui-silk ui-silk-feed-go inline hover gray"></span> Add to a remixed feed'), custom_republished_feeds_hub_path(@hub || @hub_feed.hub), :title => "Add #{@tag.name} to a remixed feed", :class => 'dialog-show add_item_source_to_custom_republished_feed', :data_item_type => 'ActsAsTaggableOn::Tag', :data_item_id => @tag.id) %><br/>
      <%= link_to(raw('<span class="ui-silk ui-silk-feed-delete inline hover gray"></span> Remove from a remixed feed'), custom_republished_feeds_hub_path(@hub || @hub_feed.hub), :title => "Remove #{@tag.name} from a remixed feed", :class => 'dialog-show remove_item_source_from_custom_republished_feed', :data_item_type => 'ActsAsTaggableOn::Tag', :data_item_id => @tag.id) %>
      </li>
    </ul>
  <% end %>

</div>
