<div class="feed-item-view row <%= 'grid-view' if view and view == 'grid' %>">
  <div class="col-md-offset-1 col-md-9 pagination-wrapper">
    <%= render partial: 'shared/paginate', object: results, as: :results %>
  </div>
  <div class="alter-views col-md-2">
    <%= link_to url_for(view: 'list'),
      class: (view and view == 'list') ? 'active' : '' do %>
      <%= fa_icon 'align-justify' %>
    <% end %>
    <%= link_to url_for(view: 'grid'),
      class: (view and view == 'grid') ? 'active' : '' do %>
      <%= fa_icon 'th-large' %>
    <% end %>
  </div>
</div>
