<% unless @feed_item.content.blank? %>
<li class="<%= 'active' if active == 'content' %>">
  <%= documentation('feed-item-content-tab') %>
  <%= link_to('Item', content_hub_feed_feed_item_path(@hub_feed, @feed_item))%>
  <div class="nav-pill-arrow"></div>
</li>
<% end %>
<li class="<%= 'active' if active == 'about' %>">
  <%= documentation('feed-item-about-tab') %>
  <%= link_to('About', about_hub_feed_feed_item_path(@hub_feed, @feed_item))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="<%= 'active' if active == 'filters' %>">
  <%= documentation('feed-item-tag-filters') %>
  <%= link_to('Filters', hub_feed_item_tag_filters_path(@hub, @feed_item, hub_feed_id: @hub_feed.id))%>
  <div class="nav-pill-arrow"></div>
</li>
<li class="last-of-section <%= 'active' if active == 'related' %>">
  <%= documentation('hub-feed-feed-item-related-list') %>
  <%= link_to('Related items', related_hub_feed_feed_item_path(@hub_feed, @feed_item))%>
  <div class="nav-pill-arrow"></div>
</li>
