- content_for :top_panel do
  .col-sm-12
    %h1= @feed_item.title
    %h4
      = @hub_feed.feed.title
      = @feed_item.created_at.strftime('%F')
- content_for :tabs do
  = render partial: 'tabs', locals: { active: 'about' }
- content_for :tab_content do
  .nicely-padded.about-feed-item
    = render partial: 'about'
