<ul class="list-unstyled">
  <% if current_user && current_user.is?([:owner,:remixer,:hub_feed_item_tag_filterer,:bookmarker],@hub) %>
    <% if current_user.is?([:owner, :hub_feed_item_tag_filterer],@hub) %>
      <li>
      <%= link_to_tag_filter raw(fa_icon('tag', text: 'Add a tag to this item')), :add, { hub: @hub, item: @feed_item } %>
      </li>
    <% end %>
    <% if current_user.is?([:owner, :remixer],@hub) %>
      <li>
      <%= link_to custom_republished_feeds_hub_path(@hub),
        title: "Add #{@feed_item} to a remixed feed",
        class: 'dialog-show add_item_source_to_custom_republished_feed',
        data_item_type: 'FeedItem',
        data_item_id: @feed_item.id do %>
        <%= fa_icon 'plus-square', text: 'Add to a remixed feed', class: 'text-warning' %>
      <% end %>
      </li>
      <li>
      <%= link_to custom_republished_feeds_hub_path(@hub),
        title: "Remove #{@feed_item} from a remixed feed",
        class: 'dialog-show remove_item_source_from_custom_republished_feed',
        data_item_type: 'FeedItem',
        data_item_id: @feed_item.id do %>
        <%= fa_icon 'minus-square', text: 'Remove from a remixed feed', class: 'text-warning' %>
      <% end %>
      </li>
    <% end %>

    <% if @hub_feed && @hub_feed.feed.is_bookmarking_feed? &&
         (current_user.is?(:owner, @hub) || current_user.is?(:owner,@hub_feed.feed)) %>
       <li>
       <%= link_to bookmarklets_remove_item_path(
             hub_id: @hub, feed_id: @hub_feed.feed, feed_item_id: @feed_item),
           title: "Remove #{@feed_item} from this bookmarking collection",
           method: :post,
           confirm: "Are you sure?" do %>
           <%= fa_icon 'minus-circle', text: 'Remove from this bookmarking collection',
               class: 'text-danger' %>
         <% end %>
       </li>
    <% end %>
    <hr />
  <% end %>

  <li>
  <%= link_to(raw(fa_icon('link', text: 'Original link')),
              @feed_item.url, rel: 'nofollow', target: '_blank') %>
  </li>
  <%= raw insert_social_links(@feed_item.url) %>
</ul>
