<%= documentation('hub-feed-feed-item-list') %>
<div id="items">
  <h2>Items - <%= @feed_items.length %> total</h2>

  <%= will_paginate @feed_items %>

  <table class="hub_feed feed_items" id="hub_feed_<%= @hub_feed.id %>">
    <%= render :partial => 'shared/line_items/feed_item', :collection => @feed_items %>
  </table>

  <%= will_paginate @feed_items %>
</div>
