<% content_for :top_panel do %>
<div class="col-sm-12">
  <h1><%= @feed_item.title %></h1>
  <h4>
    <%= @hub_feed.feed.title if @hub_feed %>
    <%= @feed_item.created_at.strftime('%F') %>
  </h4>
</div>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'tabs', locals: { active: 'related' } %>
<% end %>

<% content_for :tab_content do %>
  <%= render partial: 'alter_view', locals: { view: 'grid', results: @related.results } %>
  <ul class="list-unstyled flush-top">
    <%= render partial: 'grid', object: @related.results, as: :feed_items %>
  </ul>
<% end %>
