<h1><%= @feed_item.title %></h1>

<div class="feed_item feed_item_tabs" id="feed_item_<%= @feed_item.id %>">

  <ul>
    <li><a href="#about">About</a> <span id="spinner"></span></li>
    <% unless @feed_item.content.blank? %>
      <li><%= link_to('Full Content',content_feed_item_path(@feed_item)) %></li>
    <% end %>
    <li><a href="#filters">Filters</a></li>
  </ul>

  <div id="about">
    <% unless @feed_item.description.blank? %>
      <h3>Summary</h3>
      <div class="description">
        <%= raw @feed_item.description %>
      </div>
    <% end %>
    <dl class="metadata">
      <dt>Link:</dt>
      <dd>
      <%= link_to(@feed_item.url, @feed_item.url, :target => '_blank') %>
      </dd>
      <% unless @feed_item.date_published.blank? %>
        <dt>Published:</dt>
        <dd><%= l(@feed_item.date_published, :format => :date_and_time_short)  %></dd>
      <% end %>
      <% unless @feed_item.last_updated.blank? || @feed_item.last_updated == @feed_item.date_published %>
        <dt>Updated:</dt>
        <dd><%= l(@feed_item.last_updated, :format => :date_and_time_short)  %></dd>
      <% end %>
      <dt>From:</dt>
      <% #TODO - Make this resolve to the hub feed. %>
      <dd><%= raw @feed_item.feeds.collect{|feed| link_to(feed, feed)}.join(', ') %></dd>
      <dt>Tags:</dt>
      <dd><%= raw @feed_item.feed_item_tags.collect{|t| link_to(t.tag, feed_item_tag_path(t), :class => 'tag')}.join(' ') %></dd>
      <% unless @feed_item.authors.blank? %>
        <dt>Authors:</dt>
        <dd><%= @feed_item.authors %></dd>
      <% end %>
      <% unless @feed_item.contributors.blank? %>
        <dt>Contributors:</dt>
        <dd><%= @feed_item.contributors %></dd>
      <% end %>
      <% unless @feed_item.rights.blank? %>
        <dt>Copyright info:</dt>
        <dd><%= @feed_item.rights %></dd>
      <% end %>
    </dl>
  </div>
  <div id="filters">
    <h2>Coming soon.</h2>
  </div>
</div>
<%= javascript_tag do
  %q|$(function(){
  $('.feed_item_tabs').tabs({
    cookie: {
      expires: 3
    },
    ajaxOptions: {
      beforeSend: function(){
        $.showSpinner('#spinner');
      },
      complete: function(){
        $.hideSpinner('#spinner');
      }
    }
  });
  }
  );|
end
%>
