- tags_count = tags.each.count
%h2 Statistics
%p
  There #{'is'.pluralize(tags_count)} currently
  %span.badge= tags_count
  = 'tag'.pluralize()
  in use in this hub.

- if prefixed_tags.any?
  = render partial: 'tag_statistics', locals: { tag_prefix: prefixed_tags.first[0], tag_count: prefixed_tags.first[1] }

  - if prefixed_tags.size > 1
    .panel-group#accordion{ role: 'tabllist', 'aria-multiselectable' => 'true' }
      .panel.panel-default
        .panel-heading#additional-tags-heading{ role: 'tab' }
          %h4.panel-title
            %a{ role: 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', href: '#additional-tags', 'aria-expanded' => 'true', 'aria-controls' => 'additional-tags' }
              Additional Tag Statistics
        .panel-collapse.collapse#additional-tags{ role: 'tabpanel', 'aria-labelledby' => 'additional-tags-heading' }
          .panel-body
            - prefixed_tags.drop(1).each do |tag_prefix, tag_count|
              = render partial: 'tag_statistics', locals: { tag_prefix: tag_prefix, tag_count: tag_count }
