<div class="col-sm-10">
  <h1>
    Tag "<em><%= @tag %></em>" &ndash;
    <%= @feed_items.count %> <%= 'items'.pluralize(@feed_items.count) %>
  </h1>
</div>
<div class="col-sm-2">
  <div class="export_menu row text-center">
      <div class="col-xs-4">
      <%= link_to hub_tag_rss_path(@hub, u(@tag.name)), title: "An RSS feed of all items in this hub, with tag filters applied." do %>
        <%= image_tag image_path('protocol_rss.png') %>
        <p>RSS</p>
      <% end %>
      </div>
      <div class="col-xs-4">
      <%= link_to hub_tag_atom_path(@hub, u(@tag.name)), title: "An Atom feed of all items in this hub, with tag filters applied." do %>
        <%= image_tag image_path('protocol_atom.png') %>
        <p>ATOM</p>
      <% end %>
      </div>
      <div class="col-xs-4">
      <%= link_to hub_tag_json_path(@hub, u(@tag.name), callback: 'callback'), title: "jsonp of all items in this hub, with tag filters applied." do %>
        <%= image_tag image_path('protocol_json.png') %>
        <p>JSON</p>
      <% end %>
      </div>
  </div>
</div>
