.col-sm-8
  %h1
    Tag "
    %em>= tag
    " –
    \#{feed_items.count} #{'item'.pluralize(feed_items.count)}

.col-sm-4
  .export-menu.text-right
    = link_to hub_tag_rss_path(hub, tag.name), title: 'An RSS feed of all items in this hub, with tag filters applied.', class: 'btn btn-default' do
      = image_tag('protocol_rss.png', width: 12, height: 12)
      RSS
      %span.badge
        = FeedSubscriber.count_for(hub_tag_rss_path(hub, tag.name))
    = link_to hub_tag_atom_path(hub, tag.name), title: 'An Atom feed of all items in this hub, with tag filters applied.', class: 'btn btn-default' do
      = image_tag('protocol_atom.png', width: 12, height: 12)
      ATOM
      %span.badge
        = FeedSubscriber.count_for(hub_tag_atom_path(hub, tag.name))
    = link_to hub_tag_json_path(hub, tag.name, callback: 'callback'), title: 'jsonp of all items in this hub, with tag filters applied.', class: 'btn btn-default' do
      = image_tag('protocol_json.png', width: 12, height: 12)
      JSON
      %span.badge
        = FeedSubscriber.count_for(hub_tag_json_path(hub, tag.name))
