- content_for :top_panel do
  = render partial: (@hub_feed ? 'hub_feeds' : 'hubs') + '/top_panel', locals: { hub: @hub, hub_feed: @hub_feed }
- content_for :tabs do
  - if @user
    = render partial: 'users/hub_items_tabs', locals: { active: 'tags' }
  - else
    = render partial: (@hub_feed ? 'hub_feeds' : 'hubs') + '/tabs', locals: { active: 'tags' }
- content_for :tab_content do
  .nicely-padded
    = render partial: 'statistics', locals: { tags: @tags, prefixed_tags: @prefixed_tags }
    %h2 Filter tags
    .form-group
      .row
        .col-xs-5
          .input-group
            %input.form-control#filter-by{ placeholder: 'Keyword', size: '15' }
            %span.input-group-btn
              %a.btn.btn-primary#filter-button{ href: '#' } Filter
        .col-sm-1
          %a#reset-filter{ href: '#' } Reset
    %h2 Sort tags
    .row
      .col-sm-3
        %select.form-control#sort-tags-by
          %option{ value: 'alpha' } Alphabetical
          %option{ selected: 'selected', value: 'frequency' } Frequency
      .col-sm-3
        %select.form-control#sort-tags-direction
          %option{ value: 'asc' } Ascending
          %option{ selected: 'selected', value: 'desc' } Descending

    %ul.list-unstyled#tag-cloud{ 'data-hub-id' => @hub.id }
      = render partial: 'tags/graph_item', as: :tag, collection: @tags,
        locals: { show_removed_tags: policy(@hub).removed_tag_suggestion?, hub: @hub, hub_feed: @hub_feed, max_count: @tags.empty? ? 0 : @tags.first.count }
    :javascript
      $(document).ready(
        function () {
          observeTagFilterControls()
          observeTagSortControls()
        }
      );
