<% content_for :top_panel do %>
  <%= render partial: 'hubs/header' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'tags' } %>
<% end %>

<% content_for :tab_content do %>
<div class="nicely-padded">
<% if ! @hub_feed.blank? %>
  <%# documentation('hub-feed-tag-cloud') %>
<% else %>
  <%# documentation('hub-tag-cloud') %>
<% end %>
<h2>Filter tags</h2>

<div class="form-group">
  <div class="row">
    <div class="col-xs-5">
      <div class="input-group">
        <input id="filter_by" size="15" placeholder="Keyword" class="form-control"/>
        <span class="input-group-btn">
          <a class="btn btn-primary" id="filter_button" href="#">Filter</a>
        </span>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="#" id="reset_filter">Reset</a>
    </div>
  </div>
</div>

<h2>Sort tags</h2>
<div class="row">
  <div class="col-sm-3">
  <select id="sort_tags_by" class="form-control">
    <option value="alpha">Alphabetical</option>
    <option selected="selected" value="frequency">Frequency</option>
  </select>
  </div>
  <div class="col-sm-3">
    <select id="sort_tags_direction" class="form-control">
      <option value="asc">Ascending</option>
      <option selected="selected" value="desc">Descending</option>
    </select>
  </div>
</div>

<ul class="list-unstyled" id="tag_cloud" data-hub-id="<%= @hub.id %>">
  <%= render partial: 'tags/graph_item', as: :tag, collection: @tags,
    locals: { hub: @hub, hub_feed: @hub_feed, max_count: @tags.first.count } %>
</ul>

<%= javascript_tag "$(document).ready(function(){$.observeTagCloudControls()});" %>
</div>
<% end %>
