- content_for :title do
  = page_title(@tag.name)
- content_for :top_panel do
  = render partial: 'top_panel', locals: { feed_items: @feed_items, hub: @hub, tag: @tag }
- content_for :tabs do
  = render partial: 'tabs', locals: { active: 'show' }
- content_for :tab_content do
  = render partial: 'feed_items/alter_view', locals: { view: 'list', results: @feed_items }
  %ul.list-unstyled
    = render partial: 'feed_items/list_item', collection: @feed_items, as: :feed_item
