<% unless request.xhr? %>
  <h1>Tagged with "<%= @tag %>" - <%= @feed_items.total_entries %> total
    <div class="export_menu">
      <h4>Export</h4>
      <div>
        <%= link_to('rss', hub_tag_rss_path(@hub,u(@tag.name))) %>
        <%= link_to('atom', hub_tag_atom_path(@hub,u(@tag.name))) %>
        <%= link_to('json', hub_tag_json_path(@hub,u(@tag.name), :callback => 'callback')) %>
      </div>
    </div>
  </h1>

<div class="tabs" id="tags_tabs">
  <ul>
    <li><a href="#tagged_items">Items</a></li>
  </ul>
  <div id="tagged_items">
<%= documentation('tagged-item-list') %>
  <% end %>
    <%= will_paginate(@feed_items) %>
    <table class="hub_feed feed_items">
      <%= render :partial => 'shared/line_items/feed_item', :collection => @feed_items %>
    </table>
    <%= will_paginate(@feed_items) %>
<% unless request.xhr? %>
  </div>
</div>
<% end %>
