- content_for :top_panel do
  = render partial: 'top_panel', locals: { feed_items: @feed_items, hub: @hub, tag: @tag }
- content_for :tabs do
  %li.active
    = documentation('tagged-item-list')
    = link_to('Items', hub_tag_show_path(@hub, u(@tag.name)))
    .nav-pill-arrow
- content_for :tab_content do
  = render partial: 'feed_items/alter_view', locals: { view: 'grid', results: @feed_items }
  %ul.list-unstyled
    = render partial: 'feed_items/grid', object: @feed_items, as: :feed_items
