- content_for :top_panel do
  = render partial: 'top_panel', locals: { feed_items: @feed_items, hub: @hub, tag: @tag }
- content_for :tabs do
  = render partial: 'tabs', locals: { active: 'statistics' }
- content_for :tab_content do
  .nicely-padded
    %h1 Statistics
    %h2 Taggers
    - if @taggings_by_user.count == 0
      %p None
    - else
      %ul.list-unstyled
        - @taggings_by_user.each do |tagging_by_user|
          %li
            Tagged
            %a{ href: hub_user_tags_name_path(@hub, User.find(tagging_by_user['tagger_id']).username, @tag.name) }
              %span.badge= tagging_by_user['count']
            = 'time'.pluralize(tagging_by_user['count'])
            by
            %span.badge= User.find(tagging_by_user['tagger_id']).username
    %h2 Taggers before tag was deprecated
    - if @deprecated_taggings_by_user.count == 0
      %p None
    - else
      %ul.list-unstyled
        - @deprecated_taggings_by_user.each do |tagging_by_user|
          %li
            Tagged
            %a{ href: hub_user_tags_name_path(@hub, User.find(tagging_by_user['tagger_id']).username, @tag.name, 'deprecated') }
              %span.badge= tagging_by_user['count']
            = 'time'.pluralize(tagging_by_user['count'])
            by
            %span.badge= User.find(tagging_by_user['tagger_id']).username
