- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'inputs' }
- content_for :tab_content do
  .nicely-padded
    %h1 Input feeds
    .pull-right
      = form_tag(hub_hub_feeds_path(@hub), method: :get) do
        = select_tag :type, options_for_select(['Unsubscribed', 'Subscribed'], params[:type] || 'Subscribed'), class: 'unsubscribed-select', onchange: "$(this).parent('form').submit();"
    .hub_feeds
      - if current_user && (current_user.is?(:owner, @hub) || current_user.is?(:inputter, @hub))
        .add_feed_container
          .notices
          = form_for(:hub, url: add_feed_hub_path(@hub), method: :post, html: { id: 'add_feed_to_hub' }) do |f|
            .form-group
              %label{ for: 'feed_url' } New input feed
              .row
                .col-sm-8
                  %input.form-control#feed_url{ name: 'feed_url', placeholder: 'Feed URL', type: 'text' }/
                .col-sm-4
                  %input.btn.btn-success{ type: 'submit', value: 'Add' }/
      %h1=  ("#{params[:type] || 'Subscribed'}" + ' Inputs')
      - if @hub_feeds.empty?
        %p This hub currently has no input feeds.
      - else
        = render partial: 'shared/paginate', locals: { results: @hub_feeds }
        %ul.list-unstyled.nicely-padded
          = render partial: 'hub_feeds/list_item', collection: @hub_feeds, as: :hub_feed
        = render partial: 'shared/paginate', locals: { results: @hub_feeds }
