<%= documentation('hub-watched-feeds-list') %>
<div class="hub_feeds">
  <% if current_user && (current_user.is?(:owner, @hub) || current_user.is?(:inputter, @hub)) %>
    <div class="add_feed_container">
      <div class="messages"></div>
      <h3>New Input Feed</h3>
      <%= form_for(:hub, :url => add_feed_hub_path(@hub), :method => :post, :html => {:id => 'add_feed_to_hub'}) do |f| %>
        <input placeholder="Feed URL..." type="text" name="feed_url" id="feed_url" /> <input type="submit" class="button" value="Add"></a>
      <% end %>
    </div> 
<% end %>
<h3>Input feeds - <%= @hub_feeds.total_entries %> total</h3>
<%= will_paginate @hub_feeds %>
<table class="hub_feeds" id="hub_feed_list_<%= @hub.id %>">
  <%= render :partial => 'shared/line_items/hub_feed', :collection => @hub_feeds %>
</table>
<%= will_paginate @hub_feeds %>
</div>
