<div class="metadata" id="hub_feed_metadata_<%= @hub_feed.id %>">
  <span class="updated" title="Last updated">
    <%= @hub_feed.feed.updated_at.to_s(:long) %>
  </span>
  &nbsp;|&nbsp;
  <span class="items">
    <%= pluralize(@hub_feed.feed.feed_items.length, 'item') %>
  </span>
  &nbsp;|&nbsp;
  <%= link_to('RSS', hub_feed_feed_items_path(@hub_feed, format: :rss), title: 'An RSS feed with tag filters applied to it.') %>&nbsp;
  <%= link_to('ATOM', hub_feed_feed_items_path(@hub_feed, format: :atom), title: 'An Atom feed with tag filters applied to it.') %>&nbsp;
  <%= link_to('JSON', hub_feed_feed_items_path(@hub_feed, format: :json, callback: 'callback'), title: 'jsonp with tag filters applied to it.') %>

  <div class="feed-item-tags">
    <%= raw @hub_feed.latest_tags(10).collect{|t| tag_display(t, :hub => @hub, :hub_feed => @hub_feed) }.join(' ') %>
  </div> 
</div>
