<h1>
  <% if current_user && current_user.is?(:owner,@hub_feed) %>
    <%= link_to('delete', hub_hub_feed_path(@hub,@hub_feed), :method => :delete, :confirm => "Are you sure?", :class => 'ui-silk ui-silk-delete inline hover gray', :title => "Delete this item") %>
    <%= link_to('edit', edit_hub_hub_feed_path(@hub,@hub_feed), :class => 'ui-silk ui-silk-application-edit inline hover gray', :title => "Edit this item") %>
  <% end %>
  Input Feed: <%= @hub_feed %> <sup>
    <%= link_to("RSS", hub_feed_feed_items_path(@hub_feed, :format => :rss), :title => "An RSS feed with tag filters applied to it.") %>
    <%= link_to("Atom", hub_feed_feed_items_path(@hub_feed, :format => :atom), :title => "An Atom feed with tag filters applied to it.") %>
    <%= link_to("jsonp", hub_feed_feed_items_path(@hub_feed, :format => :json, :callback => 'callback'), :title => "jsonp with tag filters applied to it.") %>
  </sup>
</h1>

<div class="tabs hub_feed detailed" id="hub_feed_<%= @hub_feed.id %>">
  <ul>
    <li><%= link_to('Items', hub_feed_feed_items_path(@hub_feed)) %></li>
    <li><a href="#about">About</a></li>
    <li><%= link_to('Tags', hub_feed_tags_path(@hub_feed)) %></li>
    <li><%= link_to('Filters', hub_feed_hub_feed_tag_filters_path(@hub_feed) )%></li>
    <li><%= link_to('Updates', hub_feed_feed_retrievals_path(@hub_feed) ) %></li>
    <% if ! @hub_feed.blank? && ! current_user.blank? && current_user.is?(:owner, @hub_feed.feed) && @hub_feed.feed.is_bookmarking_feed? %>
      <li><a href="#import">Import Items</a></li>
    <% end %>
  </ul>

  <div id="about"> 
    <%= documentation('hub-feed-about-tab') %>


    <% unless @hub_feed.feed.is_bookmarking_feed? %>
      <dl class="metadata">
        <dt>Feed URL:</dt>
        <dd><%= link_to(@hub_feed.feed.feed_url,@hub_feed.feed.feed_url, :target => '_blank') %></dd>
        <dt>Feed last changed at:</dt>
        <dd><%= @hub_feed.feed.items_changed_at.to_s(:long) %></dd>
        <dt>Feed will be downloaded again  at:</dt>
        <dd><%= @hub_feed.feed.next_scheduled_retrieval.to_s(:long) %> 
        <% if current_user && current_user.is?(:owner, @hub) %>
          <%= link_to('Schedule for immediate download', reschedule_immediately_hub_hub_feed_path(@hub,@hub_feed)) %>
        <% end %>
        </dd>
      </dl>
    <% end %>
  </div>
  <% if ! @hub_feed.blank? && ! current_user.blank? && current_user.is?(:owner, @hub_feed.feed) && @hub_feed.feed.is_bookmarking_feed? %>
    <div id="import">
      <%= documentation('hub-feed-import-tab') %>
      <h2>Import items from a file</h2>
      <p>
      <%= form_tag(import_hub_feed_path(@hub_feed), :multipart => true, :method => :post) do %>
        <ul class="form_controls">
          <li>
          Type: <%= select_tag(:type, options_for_select([['Connotea RDF export',:connotea_rdf], ['Delicious','delicious']])) %>
          </li>
          <li>File: <%= file_field_tag(:import_file) %></li>
          <li><%= submit_tag('Import items', :class => 'button') %></li>
        </ul>
      <% end %>
      </p>
    </div>
  <% end %>
</div>
