<div class="tag_filter hub_feed_item_tag_filter <%= hub_feed_item_tag_filter.filter.css_class %>">
  <% if current_user && (current_user.is?(:owner, @hub) || current_user.is?(:owner, hub_feed_item_tag_filter)) %>
    <div class="pull-right">
    <%= link_to hub_feed_item_hub_feed_item_tag_filter_path(hub_feed_item_tag_filter.hub,hub_feed_item_tag_filter.feed_item, hub_feed_item_tag_filter),
      :method => :delete,
      :title => 'Remove this filter',
      :confirm => 'Are you sure you want to remove this filter?',
      :class => 'ui-silk inline ui-silk-delete hover gray' do %>
      <%= fa_icon 'times' %>
    <% end %>
    </div>
  <% end %>

  <span class="filter-action"><%= hub_feed_item_tag_filter.filter.description %></span> tag
  <%= tag_display hub_feed_item_tag_filter.filter.tag,
    hub: hub_feed_item_tag_filter.hub,
    feed_item: hub_feed_item_tag_filter.feed_item %>

  <% if hub_feed_item_tag_filter.filter.class == ModifyTagFilter %>
    <span class="filter-action">to</span>
    <%= tag_display hub_feed_item_tag_filter.filter.new_tag,
      hub: hub_feed_item_tag_filter.hub,
      feed_item: hub_feed_item_tag_filter.feed_item %>
  <% end %>
</div>
