<div class="tag_filter hub_feed_item_tag_filter <%= filter_css_class(hub_feed_item_tag_filter) %>">
<% if user_signed_in? &&
     (current_user.is?(:owner, @hub) ||
      current_user.is?(:owner, hub_feed_item_tag_filter)) %>
    <div class="pull-right">
      <%= link_to hub_feed_item_tag_filter_path(hub_feed_item_tag_filter.hub,
                                                hub_feed_item_tag_filter.scope,
                                                hub_feed_item_tag_filter),
      method: :delete,
      title: 'Remove this filter',
      confirm: 'Are you sure you want to remove this filter?' do %>
      <%= fa_icon 'times' %>
    <% end %>
    </div>
  <% end %>

  <span class="filter-action"><%= filter_description(hub_feed_item_tag_filter) %></span> tag
  <%= tag_display hub_feed_item_tag_filter.tag,
    hub: hub_feed_item_tag_filter.hub,
    feed_item: hub_feed_item_tag_filter.scope %>

  <% if hub_feed_item_tag_filter.class == ModifyTagFilter %>
    <span class="filter-action">to</span>
    <%= tag_display hub_feed_item_tag_filter.new_tag,
      hub: hub_feed_item_tag_filter.hub,
      feed_item: hub_feed_item_tag_filter.scope %>
  <% end %>
</div>
