.feed.hover_row{:id => "feed_#{feed.id}"}
  %span.ui-silk.inline.ui-silk-feed
  = link_to(raw(strip_tags(feed.display_title)), feed_path(feed))
  .more{:id => "feed_more_#{feed.id}"}
    %span.ui-silk.inline.ui-silk-asterisk-orange.gray.hover
    more
  .metadata{:id => "feed_metadata_#{feed.id}"}
    .grid_4.alpha
      %span.updated
        = feed.updated_at.to_s(:long)
    .grid_6
      %span.items
        %span.ui-silk.inline.ui-silk-application-view-list
        = feed.feed_items.count
        items
    .grid_6.omega
      %span.feed_item_tags= raw feed.feed_item_tags.collect{|t| link_to(t.tag, feed_item_tag_path(t), :class => 'tag')}[0,10].join(' ')
  .clear
