<% 
  if current_user 
    hub_feed = (@hub_feed.blank?) ? feed_item.hub_feed_for_hub(@hub.id) : @hub_feed 
  end 
%>
<tr class="feed_item hover_row" id="feed_item_<%= feed_item.id %>">
  <td class="date">
    <% if current_user && (current_user.is?(:owner,@hub) || current_user.is?(:owner, @hub || hub_feed.hub)) %>
      <span class="controls" id="feed_item_control-<%= feed_item.id %>-target" style="display: none;">
        <%= link_to(raw('<span class="ui-silk ui-silk-rss-go inline hover gray"></span> Add to a remixed feed'), custom_republished_feeds_hub_path(@hub || hub_feed.hub), :title => "Add #{feed_item} to a remixed feed", :class => 'dialog-show add_item_source_to_custom_republished_feed', :data_item_type => 'FeedItem', :data_item_id => feed_item.id) %><br/>
        <%= link_to(raw('<span class="ui-silk ui-silk-rss-delete inline hover gray"></span> Remove from a remixed feed'), custom_republished_feeds_hub_path(@hub || hub_feed.hub), :title => "Remove #{feed_item} from a remixed feed", :class => 'dialog-show remove_item_source_from_custom_republished_feed', :data_item_type => 'FeedItem', :data_item_id => feed_item.id) %><br/>
      </span>
      <a href="#" class="ui-silk ui-silk-add inline hover gray control" id="feed_item_control-<%= feed_item.id %>">controls</a>
    <% else %>
      &nbsp;
    <% end %>
<% cache("feed-item-tag-list-#{@hub.id}-#{feed_item.id}") do %>
  <% hub_feed = (@hub_feed.blank?) ? feed_item.hub_feed_for_hub(@hub.id) : @hub_feed %>
    <% unless feed_item.date_published.blank? %>
      <%= link_to(l(feed_item.date_published, :format => :date_and_time_short),by_date_hub_path(@hub,:date => feed_item.date_published.strftime('%Y/%m/%d')) ) %>
    <% end %>
  </td>
  <td width="80%" class="title">
    <%= link_to(raw(strip_tags(feed_item.title)), hub_feed_feed_item_path(hub_feed,feed_item)) %> <span class="hub_feed_title">from <%= link_to(hub_feed.display_title, hub_hub_feed_path(@hub,hub_feed)) %></span>
  </td>
</tr>

<tr class="feed_item_tags">
  <td></td>
  <td>
    <% unless feed_item.tags_on(@hub.tagging_key).empty? %>
      <%= raw feed_item.tags_on(@hub.tagging_key).collect{|t| tag_display(t, :hub => @hub, :hub_feed => hub_feed, :hub_feed_item => feed_item) }.join(' ') %>
    <% end %>
  </td>
</tr>
<% end %>
