<div class="feed hover_row" id="feed_<%= feed.id %>">
  <span class="ui-silk inline ui-silk-feed"></span> <%= link_to(raw(strip_tags(feed.display_title)), feed_path(feed)) %>
  <div class="more" id="feed_more_<%= feed.id %>"><span class="ui-silk inline ui-silk-asterisk-orange gray hover"></span> more</div> 
  <div class="metadata" id="feed_metadata_<%= feed.id %>">
    <div class="grid_4 alpha">
      <span class="updated"> <%= feed.updated_at.to_s(:long) %></span>
    </div>
    <div class="grid_6">
      <span class="items"><span class="ui-silk inline ui-silk-application-view-list"></span> <%= feed.feed_items.length %> items</span>
    </div>
    <div class="grid_6 omega">
      <span class="feed_item_tags"><%= raw feed.feed_item_tags.collect{|t| link_to(t.tag, feed_item_tag_path(t), :class => 'tag')}[0,10].join(' ') %></span> 
    </div>
  </div>
  <div class="clear"></div>
</div>
