<tr class="hub_feed hover_row" id="hub_feed-<%= hub_feed.id %>">
  <td width="60%">
    <% if current_user && current_user.is?(:owner,hub_feed) %>
      <span class="controls" id="hub_feed_control-<%= hub_feed.id %>-target" style="display: none;">
        <%= link_to(raw('<span class="ui-silk ui-silk-delete inline hover gray "></span> Remove from hub'), hub_hub_feed_path(@hub,hub_feed), :method => :delete, :confirm => "Are you sure?", :title => "Delete this item") %><br/>
        <%= link_to(raw('<span class="ui-silk ui-silk-application-edit inline hover gray"> </span> Edit this feed'), edit_hub_hub_feed_path(@hub,hub_feed), :title => "Edit this item") %><br/>
        <%= link_to(raw('<span class="ui-silk ui-silk-rss-go inline hover gray"></span> Add to a republished feed'), custom_republished_feeds_hub_path(@hub), :title => "Add #{hub_feed} to a republished feed", :class => 'dialog-show add_item_source_to_custom_republished_feed', :id => "Feed-#{hub_feed.feed_id}") %><br/>
      </span>
      <a href="#" class="ui-silk ui-silk-add inline hover gray control" id="hub_feed_control-<%= hub_feed.id %>">controls</a>
    <% else %>
      &nbsp;
    <% end %>
    <span class="ui-silk inline ui-silk-feed"></span> <%= link_to(raw(strip_tags(hub_feed.to_s)), hub_hub_feed_path(@hub,hub_feed)) %>
    <% if defined?(show_hubs) && show_hubs == true %>
      <span class="smaller">in <%= link_to(hub_feed.hub, hub_path(hub_feed.hub) )%></span>
    <% end %>
  </td>
  <td width="40%">
    <div class="more" id="hub_feed_more_<%= hub_feed.id %>"><span class="ui-silk inline ui-silk-asterisk-orange gray hover"></span> more</div> 
  </td>
</tr>
<tr class="metadata" id="hub_feed_metadata_<%= hub_feed.id %>">
  <td>
    <span class="updated"> <%= hub_feed.feed.updated_at.to_s(:long) %></span>
    <span class="items"><span class="ui-silk inline ui-silk-application-view-list"></span> <%= hub_feed.feed.feed_items.length %> items</span>
  </td>
  <td>
    <span class="feed_item_tags"><%= raw hub_feed.feed.feed_items.collect{|fi| fi.tags}.flatten.uniq.collect{|t| link_to(t.name, tag_path(t), :class => 'tag')}[0,10].join(' ') %></span> 
  </td>
</tr>
