<tr class="hub_feed hover_row" id="hub_feed-<%= hub_feed.id %>">
  <td width="60%">
    <% if current_user && current_user.is?(:owner,hub_feed) %>
      <span class="controls" id="hub_feed_control-<%= hub_feed.id %>-target" style="display: none;">
        <%= link_to(raw('<span class="ui-silk ui-silk-delete inline hover gray "></span> Remove from hub'), hub_hub_feed_path(@hub,hub_feed), :method => :delete, :confirm => "Are you sure?", :title => "Delete this item") %><br/>
        <%= link_to(raw('<span class="ui-silk ui-silk-application-edit inline hover gray"> </span> Edit this feed'), edit_hub_hub_feed_path(@hub,hub_feed), :title => "Edit this item") %><br/>
        <%= link_to(raw('<span class="ui-silk ui-silk-rss-go inline hover gray"></span> Add to a remixed feed'), custom_republished_feeds_hub_path(@hub), :title => "Add #{hub_feed} to a remixed feed", :class => 'dialog-show add_item_source_to_custom_republished_feed', :data_item_type => 'Feed', :data_item_id => hub_feed.feed_id) %><br/>
        <%= link_to(raw('<span class="ui-silk ui-silk-rss-delete inline hover gray"></span> Remove from a remixed feed'), custom_republished_feeds_hub_path(@hub), :title => "Remove #{hub_feed} from a remixed feed", :class => 'dialog-show remove_item_source_from_custom_republished_feed', :data_item_type => 'Feed', :data_item_id => hub_feed.feed_id) %><br/>
      </span>
      <a href="#" class="ui-silk ui-silk-add inline hover gray control" id="hub_feed_control-<%= hub_feed.id %>">controls</a>
    <% else %>
      &nbsp;
    <% end %>
    <span class="ui-silk inline <%= (hub_feed.feed.is_bookmarking_feed?) ? 'ui-silk-book-addresses' : 'ui-silk-feed' %>"></span> <%= link_to(raw(strip_tags(hub_feed.to_s)), hub_hub_feed_path(@hub,hub_feed)) %>
    <% if defined?(show_hubs) && show_hubs == true %>
      <span class="smaller">in <%= link_to(hub_feed.hub, hub_path(hub_feed.hub) )%></span>
    <% end %>
  </td>
  <td width="40%">
    <%= link_to(raw('<span class="ui-silk inline ui-silk-asterisk-orange gray hover"></span> more'), more_details_hub_hub_feed_path(@hub,hub_feed), :class => "hub_feed_more_control", :data_hub_feed_id => hub_feed.id) %>
  </td>
</tr>
