<div class="input_source">
  <div class="grid_1 alpha">
    <% if current_user && current_user.is?(:owner, input_source) %>
      <%= link_to('delete', input_source_path(input_source), :method => :delete, :confirm => "Are you sure?", :class => 'ui-silk ui-silk-delete inline hover gray', :title => "Delete this item") %>
      <%= link_to('edit', edit_input_source_path(input_source), :class => 'ui-silk ui-silk-application-edit inline hover gray', :title => "Edit this item") %>
    <% end %>
  </div>
  <div class="grid_10 omega">
    <% if input_source.item_source.class == FeedItem %>
      <%= raw input_source.item_source.mini_icon %> <%= link_to(input_source.item_source.to_s, hub_feed_feed_item_path(input_source.item_source.hub_feed_for_hub(@hub.id),input_source.item_source), :class => input_source.item_source.class.to_s.tableize.singularize) %>

    <% elsif input_source.item_source.class == Feed %>
      <%= raw input_source.item_source.mini_icon %> <%= link_to(input_source.item_source.to_s, hub_hub_feed_path(@hub,input_source.item_source.hub_feeds.where(:hub_id => @hub.id).first), :class => input_source.item_source.class.to_s.tableize.singularize) %>

    <% else %>
      <%= raw input_source.item_source.mini_icon %> <%= tag_display(input_source.item_source, :hub => @hub) %>

    <% end %>
  </div>
  <div class="clear"></div>
</div>
