<% rp = republished_feed %>
<div class="republished_feed hover_row" id="republished_feed_<%= rp.id %>">
  <span class="ui-silk inline ui-silk-rss-go"></span> <%= link_to(rp.title,republished_feed_path(rp)) %> <sup><%= link_to('rss', rss_republished_feed_path(rp)) %> <%= link_to('atom', atom_republished_feed_path(rp)) %></sup> <div class="more" id="republished_feed_more_<%= rp.id %>"><span class="ui-silk inline ui-silk-asterisk-orange gray hover"></span> more</div>
  <div class="metadata" id="republished_feed_metadata_<%= rp.id %>">
    <div class="grid_4 alpha">
    </div>
    <div class="grid_4">
    </div>
    <div class="grid_4 omega">
    </div>
  </div>
  <div class="clear"></div>
</div>
