<%= hub = (@hub.blank?) ? republished_feed.hub : @hub %>
<tr class="republished_feed hover_row" id="republished_feed_<%= republished_feed.id %>">
  <td width="60%">
    <% if current_user && (current_user.is?(:owner, hub) || current_user.is?(:owner,republished_feed)) %>
      <%= link_to('delete', hub_republished_feed_path(hub,republished_feed), :method => :delete, :confirm => "Are you sure?", :class => 'ui-silk ui-silk-delete inline hover gray', :title => "Delete this item") %>
      <%= link_to('edit', edit_hub_republished_feed_path(hub, republished_feed), :class => 'ui-silk ui-silk-application-edit inline hover gray', :title => "Edit this item") %>
    <% else %>
      &nbsp;
    <% end %>
    <span class="ui-silk inline ui-silk-feed-go"></span> <%= link_to(republished_feed.title,remix_path(republished_feed.url_key)) %> (<%= link_to('RSS', remix_items_path(republished_feed.url_key, :format => :rss)) %> <%= link_to('Atom', remix_items_path(republished_feed.url_key, :format => :atom)) %> <%= link_to('jsonp', remix_items_path(republished_feed.url_key, :format => :json, :callback => 'callback')) %>)
  </td>
  <td width="40%">
    <%= link_to(raw('<span class="hub_more_link">More</span>'), more_details_hub_republished_feed_path(hub,republished_feed), :class => "republished_feed_more_control", :data_republished_feed_id => republished_feed.id) %>
  </td>
</tr>
