%tr.user.hover_row
  %td{ nowrap: 'nowrap' }
    = link_to 'delete',
      user_path(user),
      method: :delete,
      confirm: 'Are you sure?',
      title: 'Delete this user'
  %td
    = link_to(user.username, user)
  %td
    = sanitize user.my(Hub).collect { |h| link_to(h.display_title, hub_path(h)) }.join(', ')
  %td
    = user.application_roles.pluck(:name).join(', ')
  %td
    - unless user.confirmed?
      No.
      = link_to 'resend confirmation',
        resend_confirmation_token_user_path(user),
        method: :post,
        confirm: 'Resend confirmation email to user?'
  %td
    - if user.access_locked?
      Yes!
      = link_to 'resend unlock request',
        resend_unlock_token_user_path(user),
        method: :post,
        confirm: 'Resend unlock email to user?'
  %td
    = user.last_sign_in_at.try { |u| u.strftime('%Y-%m-%d %H:%M %p') }
  %td
    = user.created_at.try { |u| u.strftime('%Y-%m-%d %H:%M %p') }
