<tr class="user hover_row">
  <td>
    <%= link_to('delete', user_path(user), :method => :delete, :confirm => "Are you sure?", :class => 'ui-silk ui-silk-delete inline hover gray', :title => "Delete this user") %>
    <%= link_to(user.email,user_path(user)) %>
  </td>
  <td>
    <%= raw user.my(Hub).collect{|h| link_to(h.display_title, hub_path(h))}.join(', ') %>
  </td>
  <td>
    <%= raw user.confirmed? ? '' : %Q|No. #{link_to('resend confirmation', resend_confirmation_token_user_path(user), :method => :post, :confirm => 'Resend confirmation email to user?')}| %>
  </td>
  <td>
    <%= raw user.access_locked? ? %Q|Yes! #{link_to('resend unlock token', resend_unlock_token_user_path(user), :method => :post, :confirm => 'Resend unlock email to user?')}| : '' %>
  </td>
</tr>
