<% hub = (@hub.blank?) ? input_source.republished_feed.hub : @hub %>

<li class="input_source">
    <% if current_user && current_user.is?(:owner, hub) && defined?(effect) %>
      <%= form_tag(input_source.new_record? ? input_sources_path : input_source_path(input_source),
                   method: input_source.new_record? ? :post : :put) do %>

       <%= link_to_function effect,
         "$(this.parentNode).find('#return_to').val(window.location.toString()); this.parentNode.submit()",
         {title: "#{effect.capitalize} this item"} %>
        <%= hidden_field_tag 'return_to', '' %>
        <%= hidden_field_tag 'input_source[item_source_type]',input_source.item_source.class.name  %>
        <%= hidden_field_tag 'input_source[item_source_id]',input_source.item_source.id  %>
        <%= hidden_field_tag 'input_source[republished_feed_id]', input_source.republished_feed.id %> 
        <%= hidden_field_tag 'input_source[effect]', effect %>
      <% end %>

    <% elsif current_user && current_user.is?(:owner, input_source) %>

      <% unless input_source.new_record? %>
        <%= link_to input_source_path(input_source),
          onclick: "$(this).attr('href', $(this).attr('href') + '?return_to=' + window.location.toString())",
          method: :delete,
          confirm: "Are you sure?",
          title: "Delete this item" do %>
          <%= fa_icon 'times' %>
        <% end %>
      <% end %>
    <% end %>

      <% if input_source.item_source.class == FeedItem %>
        <% p = input_source.item_source.hub_feed_for_hub(hub.id) %>
        <% if p %>
          <%= raw input_source.item_source.mini_icon %>
          <%= link_to input_source.item_source.to_s,
            hub_feed_feed_item_path(p, input_source.item_source),
            class: input_source.item_source.class.to_s.tableize.singularize %>
        <% end %>

      <% elsif input_source.item_source.class == SearchRemix %>
        <%= raw input_source.item_source.mini_icon %>
        <%= link_to input_source.item_source.to_s,
          item_search_hub_path(@hub, q: input_source.item_source.search_string),
          class: input_source.item_source.class.to_s.tableize.singularize %>

      <% elsif input_source.item_source.class == Feed %>
        <%= raw input_source.item_source.mini_icon %>
        <%= link_to input_source.item_source.to_s,
          hub_hub_feed_path(hub,input_source.item_source.hub_feeds.where(:hub_id => hub.id).first),
          class: input_source.item_source.class.to_s.tableize.singularize %>

      <% else %>
        <%= raw input_source.item_source.mini_icon %>
        <%= tag_display(input_source.item_source, :hub => hub) %>
      <% end %>
</li>
