<% content_for :top_panel do %>
  <%= render partial: 'hubs/top_panel' %>
<% end %>

<% content_for :tabs do %>
  <%= render partial: 'hubs/tabs', locals: { active: 'filters' } %>
<% end %>

<% content_for :tab_content do %>
<div class="nicely-padded">

  <% if current_user && current_user.is?([:owner, :hub_tag_filterer], @hub) %>
    <h1>Add hub-wide filters</h1>
    <ul class="tag_filter_controls list-unstyled">
      <li>
      <%= link_to hub_hub_tag_filters_path(@hub),
        data_hub_id: @hub.id,
        data_type: 'AddTagFilter',
        tag_list: @hub_tag_filters.map {|f| f.filter.tag.name}.join(', '),
        class: 'add_filter_control hub_tag_filter btn btn-success' do %>
        <%= fa_icon 'plus-circle', text: 'Add a tag to all items in this hub' %>
      <% end %>
      </li> 

      <li>
      <%= link_to hub_hub_tag_filters_path(@hub),
        data_hub_id: @hub.id,
        data_type: 'DeleteTagFilter',
        tag_list: @hub_tag_filters.map {|f| f.filter.tag.name}.join(', '),
        class: 'add_filter_control hub_tag_filter btn btn-danger' do %>
        <%= fa_icon 'minus-circle', text: 'Remove a tag from every item in this hub' %>
      <% end %>
      </li> 

      <li>
      <%= link_to hub_hub_tag_filters_path(@hub),
        data_hub_id: @hub.id,
        data_type: 'ModifyTagFilter',
        tag_list: @hub_tag_filters.map {|f| f.filter.tag.name}.join(', '),
        class: 'add_filter_control hub_tag_filter btn btn-default' do %>
        <%= fa_icon 'pencil', text: 'Modify a tag for every item in this hub' %>
      <% end %>
      </li> 
    </ul>
  <% end %>

  <h1 class="hub-filters-title">Active filters</h1>
  <% if @hub_tag_filters.empty? %>
    <p>No active filters</p>
  <% else %>
  <ul class="hub_tag_filters list-unstyled nicely-padded">
    <%= render partial: 'hub_tag_filters/list_item', as: :hub_tag_filter, 
      collection: @hub_tag_filters %>
  </ul>
  <% end %>
</div>
<% end %>
