<%= documentation('hub-wide-tag-filters') %>
<h3>Hub-wide filters</h3>
<% if current_user && current_user.is?([:owner, :hub_tag_filterer], @hub) %>
  <ul class="tag_filter_controls">
    <li><span class="ui-silk ui-silk-tag-blue-add inline"></span> <%= link_to 'Add a tag to all items in this hub', hub_hub_tag_filters_path(@hub), :data_hub_id => @hub.id, :data_type => 'AddTagFilter', :tag_list => @hub_tag_filters.map {|f| f.filter.tag.name}.join(', '), :class => 'add_filter_control hub_tag_filter' %></li> 
    <li><span class="ui-silk ui-silk-tag-blue-delete inline"></span> <%= link_to 'Remove a tag from every item in this hub', hub_hub_tag_filters_path(@hub), :data_hub_id => @hub.id, :data_type => 'DeleteTagFilter', :tag_list => @hub_tag_filters.map {|f| f.filter.tag.name}.join(', '), :class => 'add_filter_control hub_tag_filter' %></li> 
    <li><span class="ui-silk ui-silk-tag-blue-edit inline"></span> <%= link_to 'Modify a tag for every item in this hub', hub_hub_tag_filters_path(@hub), :data_hub_id => @hub.id, :data_type => 'ModifyTagFilter', :tag_list => @hub_tag_filters.map {|f| f.filter.tag.name}.join(', '), :class => 'add_filter_control hub_tag_filter' %></li> 
  </ul>
<% end %>
<div class="hub_tag_filters">
  <%= render :partial => 'shared/line_items/hub_tag_filter', :collection => @hub_tag_filters %>
</div>
