- content_for :top_panel do
  = render partial: 'hubs/top_panel', locals: { hub: @hub }
- content_for :tabs do
  = render partial: 'hubs/tabs', locals: { active: 'filters' }
- content_for :tab_content do
  .nicely-padded
    - if current_user && (current_user.is?([:owner, :hub_tag_adder, :hub_tag_deleter, :hub_tag_modifier, :hub_tag_supplementer], @hub) || current_user.superadmin?)
      %h1 Create hub-wide filters
      %ul.tag_filter_controls.list-unstyled
        - filter_buttons.each do |method|
          - if current_user && current_user.is?([:owner, method[:role]], @hub)
            %li
              = link_to hub_tag_filters_path(@hub),
                data_hub_id: @hub.id,
                data_type: method[:data_type],
                tag_list: @tag_filters.map {|f| f.tag.name}.uniq.join(', '),
                class: "add_filter_control hub_tag_filter btn btn-#{method[:button]} #{method[:extra_class].to_s}" do
                = fa_icon method[:icon], text: method[:text]
    %h1.hub-filters-title Active filters
    - if @tag_filters.empty?
      %p No active filters
    - else
      %ul.hub_tag_filters.list-unstyled.nicely-padded
        = render partial: 'hub_tag_filters/list_item', as: :hub_tag_filter, collection: @tag_filters
