<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag ['formtastic', 'formtastic_changes', '992-16col','reset','silk-sprite','custom-theme/jquery-ui-1.8.16.custom', 'tagteam', @css_extras].compact.flatten %>
    <%= javascript_include_tag ['jquery.min', 'jquery.cookie', 'jquery.form', 'jquery.observe_field.js', 'jquery.hoverIntent.minified','jquery_ujs', 'jquery.address-1.4.min', 'jquery-ui-1.8.16.custom.min', 'jquery.bt.js', 'nicEdit.js', 'application', 'modernizr.custom.15012', @javascripts_extras].compact.flatten %>
    <%= csrf_meta_tag %>
    <link rel="author" href="<%= root_url %>humans.txt" />
    <% unless @show_auto_discovery_params.blank? %>
      <%= auto_discovery_link_tag :rss, @show_auto_discovery_params %>
    <% end %>
  </head>
  <body>
    <div class="container_16">
      <div id="wrapper">
        <%= image_tag('spinner.gif', :id => 'spinner', :style => 'display: none;') %>
        <header class="<%= (@hub.blank?) ? 'grid_16' : 'grid_12' %>">
          <h1><a href="/">TagTeam</a></h1>
        </header>
        <% unless @hub.blank? %>
          <div class="grid_4">
            <div class="hub_search">
              Search this hub:
              <%= form_tag(item_search_hub_path(@hub), :method => :get) do %>
                <span class="ui-silk ui-silk-zoom inline"></span> <%= text_field_tag :q, params[:q], :size => 15, :placeholder => 'Keyword Search. . .' %>
                <%= submit_tag('go', :class => 'button') %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="clear"></div>

        <nav class="grid_16">
          <section class="user_meta">
            <% unless current_user.blank? %>
              Welcome, <%= current_user.email %>
              <%= link_to('log out', destroy_user_session_path, :confirm => "Are you sure?", :method => :delete, :id => 'logged_in') %>
            <% else %>
              <%= link_to('log in', new_user_session_path) %>
            <% end %>
          </section>
        </nav>
        <div class="clear"></div>

        <% unless flash.blank? %>
          <section class="grid_16" id="notices">
            <% unless flash[:notice].blank? %>
              <div class="notice">
                <%= flash[:notice] %>
              </div>
            <% end %>

            <% unless flash[:error].blank? %>
              <div class="error">
                <%= flash[:error] %>
              </div>
            <% end %>
          </section>
        <div class="clear"></div>
        <% end %>

        <section class="grid_16" id="content">
          <div class="breadcrumbs"><%= breadcrumbs.render(:format => :inline, :separator => ' &raquo; ') %></div>
          <%= yield %>
        </section>
        <div class="clear"></div>

        <footer class="grid_16">
          <% unless current_user.blank? %>
            <%= link_to('background jobs', '#', :id => 'background_jobs') %>
          <% end %>
          &copy; 2011 President and Fellows of Harvard College
        </footer>
        <div class="clear"></div>
      </div><!-- wrapper -->
    </div><!-- container_16 -->

  </body>
</html>
