!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title= page_title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %script{ src: 'http://code.jquery.com/jquery-migrate-1.1.1.js' }
    %link{ href: "#{root_url}humans.txt", rel: 'author' }
    %link{ href: asset_path('favicon.png'), rel: 'icon', type: 'image/png' }
    - unless @show_auto_discovery_params.blank?
      = auto_discovery_link_tag :rss, @show_auto_discovery_params
  %body
    %header
      %nav.navbar.navbar-inverse.navbar-static-top{ role: 'navigation' }
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{ 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', type: 'button' }
              %span.sr-only Toggle navigation
              %span.icon-bar
            %a.navbar-brand{ href: root_path }= fa_icon 'bolt', text: 'TagTeam'
          .collapse.navbar-collapse#navbar
            %ul.nav.navbar-nav
              %li= link_to('About', meta_hubs_path, class: 'dialog-show', id: 'meta_about')
              %li{class: (current_page?(hubs_path) ? 'active' : '')}
                = link_to 'Hubs', hubs_path
              - if policy(:admin_home).index?
                %li{ class: ('active' if controller.class.parent == Admin) }
                  = link_to('Admin', admin_users_path)
              - if user_signed_in?
                %li{class: (current_page?(export_import_path) ? 'active' : '')}
                  = link_to('Export/import', export_import_path)
            .nav.navbar-nav.navbar-right
              - if user_signed_in?
                %p.navbar-text.welcome
                  Welcome, #{link_to current_user.username, edit_user_registration_path} –
                  = link_to 'Logout', destroy_user_session_path, method: :delete, id: 'logged_in'
              - else
                = link_to 'Sign in', new_user_session_path, class: 'btn btn-default navbar-btn'
    .container
      = fa_icon('spinner', class: 'fa-spin', alt: 'Spinner', id: 'spinner', style: 'display: none')
      - if use_breadcrumbs?
        %section.row.breadcrumbs_holder
          .breadcrumbs.col-md-12
            = breadcrumbs.render(format: :inline, separator: fa_icon('chevron-right'))
      = render partial: 'shared/flashes'
      %section.row#content
        .col-md-12
          = content_for?(:content) ? yield(:content) : yield
    = render partial: 'shared/footer'
