<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'excanvas.compiled.js' %>
    <![endif]--> 
    <%= stylesheet_link_tag ['formtastic', 'formtastic_changes', '992-16col','reset','silk-sprite','custom-theme/jquery-ui-1.9.2.custom', 'tagteam', @css_extras].compact.flatten %>
    <%= javascript_include_tag ['jquery.min', 'jquery.cookie', 'jquery.form', 'jquery.observe_field.js', 'jquery.hoverIntent.minified','jquery_ujs', 'jquery.ba-bbq.min', 'jquery-ui-1.9.2.custom.min', 'jquery.bt.js', 'nicEdit.js', 'application', 'modernizr.custom.15012', @javascripts_extras].compact.flatten %>
    <%= csrf_meta_tag %>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>
    <link rel="author" href="<%= root_url %>humans.txt" />
    <link rel="icon" type="image/png" href="<%= root_url %>favicon.png">
    <% unless @show_auto_discovery_params.blank? %>
      <%= auto_discovery_link_tag :rss, @show_auto_discovery_params %>
    <% end %>
  </head>
  <body>
    <div id="outer_wrapper">
      <header>
        <div class="container_16">
          <h1 class="grid_4"><a href="/">TagTeam</a></h1>
          <nav class="user_meta grid_12">
            <div>
              <% unless current_user.blank? %>
                Welcome, 
                <%= @hub.present? ? 
                  link_to(current_user.username, hub_user_tags_path(@hub, current_user.username)) : 
                  current_user.username %> 
                &ndash; <%= link_to('Log out', destroy_user_session_url(:protocol => protocol_resolver), :confirm => "Are you sure?", :method => :delete, :id => 'logged_in') %>
              <% else %>
                <%= link_to('Log in', new_user_session_url(:protocol => protocol_resolver)) %>
              <% end %>
            </div>
          </nav>
          <div class="clear"></div>
        </div>
      </header>
      <section class='breadcrumbs_holder'>
        <div class="breadcrumbs container_16">
          <div class="grid_16">
            <%= breadcrumbs.render(:format => :inline, :separator => ' &raquo; ') %>
          </div>
          <div class='clear'></div>
        </div>
      </section>
      <div id="wrapper" class='container_16'>
        <%= image_tag('spinner.gif', :id => 'spinner', :style => 'display: none;') %>
        <div class="clear"></div>

        <% unless flash.blank? %>
          <section class="grid_16 notices" id="notices">
            <% unless flash[:notice].blank? %>
              <div class="notice">
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% unless flash[:error].blank? %>
              <div class="error">
                <%= flash[:error] %>
              </div>
            <% end %>
            <% unless flash[:alert].blank? %>
              <div class="alert">
                <%= flash[:alert] %>
              </div>
            <% end %>
          </section>
        <div class="clear"></div>
        <% end %>

        <section id="content">
          <%= yield %>
        </section>
        <div class="clear"></div>
      </div><!-- wrapper -->
      <div class="clear"></div>
    </div><!-- outer wrapper -->
    <footer class="container_16">
      <div class="grid_16">
        <% unless current_user.blank? %>
          <%= link_to('Background Jobs', '#', :id => 'background_jobs') %>
        <% end  %>

        <%= link_to('About', meta_hubs_path, :class => 'dialog-show', :id => 'meta_about') %>&nbsp;&nbsp;

        <% if current_user && current_user.is?(:superadmin) %>
          |&nbsp;&nbsp;<%= link_to('Manage users', users_url(:protocol => protocol_resolver)) %>&nbsp;&nbsp;
        <% end %>
        &copy; 2011 - <%= Time.now.year %> President and Fellows of Harvard College
      </div>
      <div class="clear"></div>
    </footer>
  </body>
</html>
