<!DOCTYPE html>
<html>
  <head>
    <title>Taghub</title>
    <%= formtastic_stylesheet_link_tag %>
    <%= stylesheet_link_tag 'formtastic', '992-16col','reset','silk-sprite','custom-theme/jquery-ui-1.8.16.custom', 'taghub' %>
    <%= javascript_include_tag ['jquery.min', 'jquery.cookie', 'jquery.observe_field.js', 'jquery.hoverIntent.minified','jquery_ujs', 'jquery-ui-1.8.16.custom.min', 'jquery.bt.js', 'application', @javascripts_extras].compact.flatten %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_16">
      <div id="wrapper">
        <header class="grid_16">
          <h1><a href="/">Tagteam - Social Tagging.</a></h1>
        </header>
        <div class="clear"></div>

        <nav class="grid_16">
          <section class="user_meta">
            <% unless current_user.blank? %>
              Welcome, <%= current_user.email %>
              <%= link_to('log out', destroy_user_session_path, :confirm => "Are you sure?", :method => :delete) %>
            <% else %>
              <%= link_to('log in', new_user_session_path) %>
            <% end %>
          </section>
        </nav>
        <div class="clear"></div>

        <% unless flash.blank? %>
          <section class="grid_16" id="notices">
            <% unless flash[:notice].blank? %>
              <div class="notice">
                <%= flash[:notice] %>
              </div>
            <% end %>

            <% unless flash[:error].blank? %>
              <div class="error">
                <%= flash[:error] %>
              </div>
            <% end %>
          </section>
        <div class="clear"></div>
        <% end %>

        <section class="grid_16" id="content">
          <div class="breadcrumbs"><%= breadcrumbs.render(:format => :inline, :separator => ' &raquo; ') %></div>
          <%= yield %>
        </section>
        <div class="clear"></div>

        <footer class="grid_16">
          &copy; 2011 President and Fellows of Harvard College
        </footer>
        <div class="clear"></div>
      </div>
    </div>

  </body>
</html>
