<!DOCTYPE html>
<html>

  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>

    <script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>

    <link rel="author" href="<%= root_url %>humans.txt" />
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

    <% unless @show_auto_discovery_params.blank? %>
      <%= auto_discovery_link_tag :rss, @show_auto_discovery_params %>
    <% end %>
  </head>

  <body>
  <header>
     <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>"><%= fa_icon 'bolt', text: 'TagTeam' %></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to('About', meta_hubs_path, :class => 'dialog-show', :id => 'meta_about') %></li>
              <li class="active"><%= link_to "Hubs", hubs_path %></li>
            </ul>
            <div class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <p class="navbar-text welcome">Welcome, <%= link_to current_user.username, edit_user_registration_path %> &ndash;
                <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
              <% else %>
                <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default navbar-btn' %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= image_tag('spinner.gif', :id => 'spinner', :style => 'display: none;') %>

      <% if use_breadcrumbs? %>
      <section class='row breadcrumbs_holder'>
        <div class="breadcrumbs col-md-12">
          <%= breadcrumbs.render(format: :inline, separator: fa_icon('chevron-right')) %>
        </div>
      </section>
      <% end %>

      <% unless flash.blank? %>
      <section id="notices" class="row">
        <% unless flash[:notice].blank? %>
          <div class="notice col-md-12">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% unless flash[:error].blank? %>
          <div class="error col-md-12">
            <%= flash[:error] %>
          </div>
        <% end %>
        <% unless flash[:alert].blank? %>
          <div class="alert col-md-12">
            <%= flash[:alert] %>
          </div>
        <% end %>
      </section>
      <% end %>

      <section id="content" class="row">
        <div class="col-md-12">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </section>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
