<!DOCTYPE html>
<html>
  <head>
    <title><%= (@mini_title.blank?) ? 'TagTeam' : @mini_title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>

    <link rel="author" href="<%= root_url %>humans.txt" />
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">
  </head>
  <body class="bookmarklet">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
      <%= fa_icon('spinner', class: 'fa-spin', alt: 'Spinner', id: 'spinner', style: 'display: none') %>

      <%= render partial: 'shared/flashes' %>

      <section id="content" class="row">
        <div class="col-md-12">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </section>
        </div>
      </div>
    </div>
  </body>
</html>
