<!DOCTYPE html>
<html>
  <head>
    <title><%= (@mini_title.blank?) ? 'TagTeam' : @mini_title %></title>
    <%= stylesheet_link_tag ['formtastic', 'formtastic_changes', 'reset','silk-sprite','custom-theme/jquery-ui-1.8.18.custom', 'tagteam', 'bookmarklet' ] %>
    <%= javascript_include_tag ['jquery.min', 'jquery.cookie', 'jquery.form', 'jquery.observe_field.js', 'jquery.hoverIntent.minified','jquery_ujs', 'jquery.ba-bbq.min', 'jquery-ui-1.8.18.custom.min', 'jquery.bt.js', 'nicEdit.js', 'application', 'modernizr.custom.15012', @javascripts_extras].compact.flatten %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_10">
      <div id="wrapper">
        <%= image_tag('spinner.gif', :id => 'spinner', :style => 'display: none;') %>
        <header class="grid_10">
          <h1><a href="/"><%= (@mini_title.blank?) ? 'TagTeam' : @mini_title %></a></h1>
        </header>
        <div class="clear"></div>

        <nav class="grid_10">
          <section class="user_meta">
            <% unless current_user.blank? %>
              Welcome, <%= current_user.username %>
              <%= link_to('log out', destroy_user_session_url(:protocol => protocol_resolver), :confirm => "Are you sure?", :method => :delete, :id => 'logged_in') %>
            <% else %>
              <%= link_to('log in', new_user_session_path) %>
            <% end %>
          </section>
        </nav>
        <div class="clear"></div>

        <% unless flash.blank? %>
          <section class="grid_10" id="notices">
            <% unless flash[:notice].blank? %>
              <div class="notice">
                <%= flash[:notice] %>
              </div>
            <% end %>

            <% unless flash[:error].blank? %>
              <div class="error">
                <%= flash[:error] %>
              </div>
            <% end %>
            <% unless flash[:alert].blank? %>
              <div class="alert">
                <%= flash[:alert] %>
              </div>
            <% end %>
          </section>
        <div class="clear"></div>
        <% end %>

        <section class="grid_10" id="content">
          <%= yield %>
        </section>
        <div class="clear"></div>

        <footer class="grid_10">
          &copy; 2011 President and Fellows of Harvard College
        </footer>
        <div class="clear"></div>
      </div><!-- wrapper -->
    </div><!-- container_16 -->

  </body>
</html>
